<%= render partial: 'spree/suites/cart', locals: { selected_tab_presenter: selected_tab_presenter, suite_presenter: suite_presenter } %>

<% if selected_tab_presenter.cross_sales.any? %>
  <%= render partial: 'cross_sales', locals: { selected_tab_presenter: selected_tab_presenter, suite_presenter: suite_presenter } %>
<% end %>

<div class="row-knit-your-own-supporting active">
  <div class="row">
    <div class="large-12 columns">
      <h4>Crocheting is easy! Our <span>#woolschool</span> video <br/>tutorials will help you get started.</h4>
      <a href="/videos" class="button">Learn more</a>
    </div>
  </div>
</div>
