<% content_for :page_title do %>
  Videos
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to 'new video', 'videos/new', { :icon => 'plus' } %> 
  </li>
<% end %> 

<div class="container"> 
  <div class='alert alert-info'>
    <p>There are currenly no videos in the system, please add some.</p>
  </div>
</div>