<% content_for :page_title do %>
  Videos
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to 'new video', 'videos/new', { :icon => 'plus' } %> 
  </li>
<% end %> 

<div class="container"> 
  <% @videos.each do |v| %> 
    <div class="row">
      <div class="eight columns">
        <p><%= raw(v.embed) %><p>
        <p><%= v.title.upcase %></p>
      </div>
    </div>
  <% end %>
</div>