<ul class="icons-social-variant panel-social">
  <li>
  <!-- instagram profile -->
    <a href="http://instagram.com/woolandthegang?ref=badge" class="ig-b- ig-b-16"><img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" class="instagram" /></a>
  </li>
  <li>
    <!-- Facebook sharing -->
    <div class="fb-like" data-href="https://www.woolandthegang.com<%=request.fullpath%>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  </li>
  <li>
    <!-- Twitter -->
    <a class="twitter-share-button twitter"
    data-count="none"
      href="https://twitter.com/share">
      Tweet
    </a>
  </li>
  <li>
    <!-- Pinterest Pinning -->
    <a href="http://pinterest.com/pin/create/button/?url=<%=request.url%>&media=http://d2pnxtyo6k0hqt.cloudfront.net/<%=variant.placeholder_image%>
        &description=Presenting%20Wool%20and%20the%20Gangs%20<%=variant.name%>"
        data-pin-do="buttonPin"
        data-pin-config="none">
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
    </a>
  </li>
</ul>