<div class="widget-cross-sales">
  <div class="suites-index cross-sales">
    <h2><%= selected_tab_presenter.cross_sales_heading %></h2>
    <div class="row-carousel row-products">
      <% if mobile_device? %>
        <div class="row row-product">
          <%= render partial: "spree/taxons/suite",
            collection: selected_tab_presenter.cross_sales,
            locals: { class_overide: "large-4 small-6", image_style_overide: "small", context: @context } ,
            cache: Proc.new{ |suite, counter| [suite, :large, @context[:currency] , @context[:device]] } %>
        </div>
      <% else %>
        <div class="row row-product owl-carousel">
            <%= render partial: "spree/taxons/suite",
              collection: selected_tab_presenter.cross_sales,
              locals: { class_overide: "large 12", image_style_overide: "small", context: @context } ,
              cache: Proc.new{ |suite, counter| [suite, :large, @context[:currency] , @context[:device]] } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
