<div class="widget-cross-sales">
  <div class="suites-index cross-sales">
    <h2><%= selected_tab_presenter.cross_sales_heading %></h2>
    <div class="row-carousel row-products">
      <% if mobile_device? %>
        <div class="row row-product">
          <% selected_tab_presenter.cross_sales.each do |suite| %>
            <%= render partial: "spree/taxons/suite", locals: {suite: suite, cache_safe_suite_counter: 1, context: @context} %>
          <% end %>
        </div>
      <% else %>
        <div class="row row-product owl-carousel">
          <% selected_tab_presenter.cross_sales.each do |suite| %>
            <%= render partial: "spree/taxons/suite", locals: {suite: suite, cache_safe_suite_counter: false, context: @context} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>