<div id="olapic_pdp_widget" data-tags="<%= olapic_product_id %>" ></div>
<script type="text/javascript"
  src="https://photorankstatics-a.akamaihd.net/81b03e40475846d5883661ff57b34ece/static/frontend/latest/build.min.js"
  data-olapic="olapic_pdp_widget"
  data-instance="8e96b8c8470687421eadb1753b3a8352"
  data-apikey="11aa7ed151891f52782c3c345fa0d25159331c893eee49dd2b3a93d076bad452"
  data-viewer="//www.photorank.me/assets/woolandthegang/viewer2v2.html"
  data-uploader="//www.photorank.me/assets/woolandthegang/Uploader1v2.html"
  data-uploader-version="Uploader1v2"
  data-tags="<%= olapic_product_id %>"
  async="async">
</script>
