<h5 class="reveal-title suppliers">
  <%= cdn_image_tag("static/made-by-the-gang.png", alt: "", width: "40", height: "40") %>
  <%if suppliers.any? %>
    #madeunique <span>by <%= suppliers.map(&:nickname).to_sentence %></span>
  <% else %>
    #madeunique <span>by WATG</span>
  <% end %>
</h5>
<p class="reveal-content">
   <% suppliers.each_with_index do |supplier, i| %>
     <% if (supplier.profile.size > 0) %>
			<strong><%= supplier.nickname.titlecase() %></strong>: <%= supplier.profile %>
     	<% if (i < suppliers.size - 1) %>
       <br/><br/>
     	<% end %>
		<% end %>
   <% end %>
</p>
