<% if @outcome.success? %>
  $('#upload_<%=params[:unique_id]%>').hide();
  $('#images_table_body').append('<%= j render partial: "image", object: (@outcome.result) %>');
  $('select.select2').select2({
    allowClear: true,
    dropdownAutoWidth: true
  })
<% else %>
  $('#upload_<%=params[:unique_id]%> div.progress').removeClass('active progress-striped').
  addClass('progress-danger').append('<div><%= escape_javascript(@outcome.errors.message) %></div>');
<% end %>