/* VERY VERY base level settings - universal or fundamental layout / element / type styles / mixins for Wool and the Gang */

/**
 * Table of contents
 *
 * Turbolinks progress bar
 * Browser highlight
 * HTML element styles
 * Shipping and contact
 * Sitewide messageing (currency, cookies and errors)
 * Modals
 * Footer
 * Pagination
 * Animations
**/

/* Turbolinks progress bar */
html.turbolinks-progress-bar::before {
  background-color: #8224e3 !important;
  height: 5px !important;
  @media only screen and (max-width: 28.750em) {
    height: 3px !important;
  }
}

/* Browser highlight colour */
::selection {
  background: #fff200;
  color: #000;
}
::-moz-selection {
  background: #fff200;
  color: #000;
}

/* Stop vertical scrollbar judder */
body {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h5, h6 {
  text-transform: uppercase;
}

/* WATG will have outline */
a:focus {
  outline: thin dotted;
}
a:hover {
  text-decoration: underline;
}

/* Zero out lists when required */
nav ul,
nav ol,
nav li,
footer ul,
footer ol,
footer li,
ul.zero-out,
ol.zero-out,
.zero-out li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* also as a mixin */
@mixin zero-out-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*helper classes*/
.hide {
  display: none;
}

.show {
  display: initial;
}

/* allow an image to be "full bleed" (i.e. go OVER 100% width if necessary) */
img.full-bleed {
  width: 100%;
}

/* Sale colour */
$sale-color: #ff0054;
.sale-price {
  color: $sale-color;
}
.price.was + .price.now,
.was + .price.selling {
  color: $sale-color;
}
.price.was, #product-price .was {
  text-decoration: line-through;
}

.price.unselected {
  opacity: 0.4;
}

/* Buttons - using Foundation mixins. CSS classes set to FALSE in _settings */
button,
.button {
  @include button($padding: 0.3em, $bg: $primary-color, $radius: false, $full-width: false, $disabled: false, $is-input: false);
  font-size: 1em;
  text-transform: uppercase;
}
input[type="submit"] {
  @include button($padding: 0.5em, $bg: $primary-color, $radius: false, $full-width: false, $disabled: false, $is-input: true);
  font-size: 1em;
  text-transform: uppercase;
}
button.inverse,
.button.inverse {
  text-decoration: none;
  color: $primary-color;
  background-color: $body-bg;
  border-color: $primary-color;
}
input[type="submit"].inverse {
  color: $primary-color;
  background-color: $body-bg;
  border-color: $primary-color;
}

/* CSS only select list styling */

/* Default */
select {
  font-size: 0.875em;
  outline: none;
  padding: 0.5em 15px 0.5em 0.5em;
  border: 1px solid #ccc;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent image-url('watg-img/icon-currency.png') right center no-repeat;
}
/* IE10 */
select::-ms-expand {
    display: none;
}
/**************************** Fallbacks *****************************/
/* Defensive: Mozilla */
@-moz-document url-prefix() {
  select { padding-right: 0.25em; }
}
/* Defensive: Opera */
doesnotexist:-o-prefocus,
select { padding-right: 0; }
/* Defensive: IE9, 8, 7 */
/*.ie9 select {}
.ie8 select {}
.ie7 select {}*/

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-bottom: 0;
  th {
    padding: 1em;
    font-weight: normal;
    background-color: $watg-tint-med;
  }
  td {
    padding: 1em;
    border-top: 1px dotted $primary-color;
    background-color: $watg-tint-light;
  }
  tbody tr:first-child td {
    border-top: none;
  }
}

/* Order details table */
table.order-item-listing{
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-bottom: 0;
  thead{
    tr th{
      font-size: 1em;
    }
  }
  tfoot{
    h5{
      margin: 0px;
    }
    th {
      padding: 1em;
      font-weight: normal;
      background-color: $body-bg;
    }
    td {
      padding: 1em;
      border-top: 1px dotted $primary-color;
      background-color: $body-bg;
    }
    tbody tr:first-child td {
      border-top: none;
    }
  }
}

/*************************************************************************************/

/* Shipping and contact messages */
.row-shipping-and-contact {
  padding: emCalc(15px) 0;
  max-width: none !important;
  background-color: #f9f9f9;
  .large-6:first-child {
    border-right: 1px solid #e0e0e0;
    text-align: right;
  }
  .large-12 {
    text-align: center;
  }
  p {
    margin-bottom: 0;
    font-family: $watg-font-secondary-light;
    font-size: emCalc(14px);
    text-transform: uppercase;
    strong {
      font-family: $watg-font-secondary;
      font-weight: normal;
    }
    a {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 56em) {
  .row-shipping-and-contact {
    padding: emCalc(10px) 0;
    .columns {
      p {
        text-align: center;
      }
    }
  }
}

.nav-utility {
  padding: 0.750em 1em 0 0;
  text-transform: uppercase;
  text-align: right;
  ul {
    @include zero-out-list;
    display: inline;
    line-height: 1;
  }
  li {
    display: inline;
    font-size: emCalc(12px);
  }
  a, label {
    font-family: $watg-font;
  }
}
#nav-bar {
  li:after {
    content: '/';
    margin-left: 0.5em;
  }
  li:last-child:after {
    content: '';
    margin-left: 0;
  }
  li.worldwide,
  li.telephone {
    font-family: $watg-font-light;
    letter-spacing: 0.5px;
    min-height: 14px;
  }
  li:nth-last-child(2):after {
    content: '' !important;
    margin-left: 0 !important;
  }
}
#search-bar {
  display: none;
}
#cart #link-to-cart {
  display: none;
}
@media #{$small} {
  .nav-utility {
    nav {
      display: inline;
    }
  }
  #link-to-cart:before {
    content: '/';
    margin-right: 0.5em;
  }
}

/* @group currency settings */
.currency-setting {
  float: none !important;
  margin-right: 0 !important;
  form {
    display: inline;
    margin: 0;
  }
  label {
    display: none;
  }
  select {
    float: none;
    display: inline;
    width: auto;
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-family: $watg-font;
    font-size: 1em;
  }
  &:before {
    content: '/';
  }
}
/* @end */

/* Cookie message */
.row-cookie {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  max-width: none !important; /* Full width */
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-align: center;
  display: none;
  p {
    padding: 0 0.9375em;
    margin-top: 1.25em;
    font-family: $watg-font-light;
    text-transform: uppercase;
    span {
      font-family: $watg-font;
    }
    a {
      font-family: $watg-font;
      text-decoration: underline;
    }
  }
}

/* Sitewide error messaging */
.error,
.flash.error {
  padding: 1.25em;
  background-color: #f4bfbf;
  border: 0;
  font-size: emCalc(16px);
  text-align: center;
}

/* Cart errors */
#errorExplanation {
  padding: 1.25em;
  background-color: #f4bfbf;
  border: 0;
  font-size: emCalc(16px);
  text-align: center;
  h2 {
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    text-transform: inherit;
  }
  ul {
    margin: 0;
    color: #000;
    font-weight: normal;
    li {
      list-style-type: none;
    }
  }
}
.flash {
  color: inherit;
  .errorExplanation, .error {
    @include panel(pink, 15px);
  }
  .notice {
    @include panel(#fff, 15px);
  }
  .success {
    @include panel(#C3FFB7, 15px);
  }
  .out-of-stock {
    font-weight: bold;
    color: red;
  }
  .errorExplanation {
    @include alert($alert-color);
  }
}

/* Sitewide modals */
.modal {
  top: 30px !important;
  padding: emCalc(10px) emCalc(30px) emCalc(20px);
  width: 600px;
  background-color: #fff;
  display: none;
  .modal-close {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    background: image-url('sitewide/modal-close.png') center center no-repeat;
  }
  h3 {
    margin-bottom: emCalc(5px);
    font-size: emCalc(60px);
  }
  h4 {
    margin-bottom: emCalc(20px);
    font-family: $watg-font-secondary-light;
    strong {
      font-family: $watg-font-secondary;
      font-weight: normal;
    }
  }
  h5 {
    margin-top: emCalc(20px);
  }
  table {
    margin-bottom: emCalc(20px);
    caption {
      display: none;
    }
    tbody {
      padding-top: 10px;
      border-top: 1px solid red;
      tr {
        th, td {
          padding: emCalc(15px) 0;
          background-color: #fff;
          border-bottom: 1px solid #ccc;
        }
        th {
          font-family: $watg-font;
          font-size: emCalc(16px);
          text-transform: uppercase;
          text-align: left;
        }
        td {
          padding-left: emCalc(15px);
          font-size: emCalc(12px);
          border-left: 1px solid #ccc;
        }
      }
      tr:first-child {
        th, td {
          border-top: 4px solid #ccc;
        }
      }
      tr:last-child {
        th, td {
          border-top: 0;
        }
      }
    }
  }
  p {
    font-size: emCalc(12px);
    a {
      text-decoration: underline;
    }
  }
  p:last-child {
    margin-bottom: 0;
    font-size: inherit;
    text-align: center;
    .button {
      margin-top: emCalc(10px);
      text-decoration: none;
    }
  }
  iframe {
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    min-height: 600px;
  }
}
// Mobile .modal
@media only screen and (max-width: 48em) {
  .modal {
    position: absolute !important;
    width: 300px !important;
    h3 {
      font-size: emCalc(50px);
    }
  }
}
// Contact modal
#modal-contact {
  width: 760px;
}
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
  display: none;
}
// Signup modal
#modal-signup {
  min-height: 310px;
  p.promo-code {
    margin: -28.75px 0 0;
    font-family: $watg-font-secondary;
    font-weight: bold;
    color: #8224e3;
    font-size: emCalc(60px);
    text-align: center;
  }
  small {
    margin-bottom: 1em;
    display: block;
    font-size: inherit;
    text-align: center;
  }
  strong {
    font-weight: bold;
  }
  form {
    fieldset {
      padding: 0;
      border: 0;
      text-align: center;
      input {
        margin-bottom: emCalc(30px);
        text-transform: uppercase;
      }
    }
  }
}
// Mobile #modal-signup
@media only screen and (max-width: 48em) {
  #modal-signup {
    p.promo-code {
      margin-top: inherit;
      font-size: emCalc(30px);
    }
  }
}

/* Alpaca */
.alpaca-attack {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
}


/* ALL THINGS FOOTER RELATED  */

.container > footer.row {
  max-width: 60.625em;
}


.footer-global-unit {
  padding-bottom: 32px;
  padding-top: 32px;
  font-size: emCalc(12px);
  border-top: 1px solid #d9d9d9;
  @media #{$small} {
    padding-right: 0;
  }
}

/* Marketing Footer - Newsletter signup and social media */
.marketing {
  padding-top: 27px;
  padding-bottom: 32px;
  border-top: 1px solid #d9d9d9;
  @media #{$small} {
    padding-left: 0;
  }
  .signup-response {
    display: none;
    p {
      font-family: "Gill Sans W01 Light";
      font-size: 1.563em;
      line-height: 1.1;
      text-transform: uppercase;
    }
  }
}

.newsletter-subscribe {
  margin: 0;
  font-size: 0.750em;
  @include clearfix;
  label,
  button {
    text-transform: uppercase;
    color: $body-font-color;
    font-family: $watg-font;
  }
  label {
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  input {
    float: left;
    width: 75%;
    margin-bottom: 0;
    font-size: 1em;
    font-style: italic;
  }
  button {
    float: right;
    width: 20%;
    margin-bottom: 0;
    padding: 0.5em;
    background: transparent;
  }
}
@media #{$small} {
  .newsletter-subscribe {
    border-bottom: 1px solid $body-font-color;
    label {
      display: inline;
    }
    input,
    input:focus {
      display: inline;
      float: none;
      width: 22em;
      border: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
    }
    button {
      display: inline;
      float: right;
      width: auto;
      padding: 0.75em;
      border-bottom: none;
    }
  }
}
.social {
  padding: 32px 0;
  font-size: 0.750em;
  h6 {
    margin-right: 10px;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    font-size: 1.5em;
  }
}
@media #{$small} {
  .social h6 {
    display: inline-block;
  }
}


.mobile-marketing {
  h6 {
    font-size: (14px);
    text-transform: uppercase;
    display: inline-block;
      }
  .row {
    margin: 0 emCalc(5px) 0 emCalc(10px);
    padding-bottom: emCalc(16px);
    padding-top: emCalc(16px);
    border-bottom: 1px solid #d9d9d9;
  }
  .newsletter-subscribe {
    margin: 0 emCalc(10px);
    input {
      padding: emCalc(5px) emCalc(15px);
      text-transform: uppercase;
      font-style: normal;
    }
    button {
      background-color:#000000;
      color:#ffffff ;
    }
  }
  .mobile-social {
    .social-icons {
      text-align: center;
      font-size: emCalc(20px);
      a {
        padding-left: emCalc(18px);
      }
      .first-icon {
        padding: 0;
      }
    }
  }
  .mobile-raf {
    font-family: $watg-font;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    .icon-smile, .icon-angle-right {
      font-size: emCalc(20px);
    }
    h6 {
      text-decoration: underline;
    }
  }
  .row-button {
    border: 0;
    .button-inverse {
      background-color: #fff;
      color: #000000;
    }
    button {
      margin: 0 10%;
      width: 80%;
      text-align: center;
    }
  }
  .hidden {
    display: none;
    padding-left: emCalc(4px);
    font-size: emCalc(12px);
  }
  .expanded {
    display: inherit;
  }
  .footer-global-unit-mobile {
    font-size: emCalc(14px);
  }
}

/* scroll customization */
.customscroll {
  overflow-y: scroll;
}
.customscroll::-webkit-scrollbar {
  width: 7px;
}

.customscroll::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
  border-radius: 10px;
}

.customscroll::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgb(0, 0, 0);
}
/* RAF promo */
p.promo-raf {
  font-family: $watg-font-light;
  font-size: emCalc(16px);
  text-transform: uppercase;
  a {
    font-family: $watg-font;
    text-decoration: underline;
    i {
      padding:0 5px;
      text-decoration: none;
      font-size: emCalc(20px);
    }
  }
}
footer p.promo-raf {
  margin-top: -1em;
}

/* Press logos */
.row-press-logos {
  padding: emCalc(60px) 0;
  background-color: #f7f7f7;
  text-align: center;
  border-bottom: 1px solid #000;
  h6 {
    margin-bottom: emCalc(30px);
    font-family: $watg-font;
    font-size: emCalc(20px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  h6:before {
    content: "— ";
  }
  h6:after {
    content: " —";
  }
  @media only screen and (max-width: 48em) {
    h6 {
      margin-bottom: emCalc(15px);
    }
  }
}

/* Plugin overwrites */

/* Slimscroll custom rule */
.slimScrollRail, {
  display: none !important;
}
.slimScrollBar[style*="height"] + .slimScrollRail {
  display: block !important;
}
.slimScrollBar[style*="display: none;"] + .slimScrollRail {
  display: none !important;
}

// Pagination and Show all

.show-all {
 padding: 0;
 display: inline;
 position: relative;
 font-size: 0.75em;
 float: right;
 top: -0.313em;
}

.pagination {
 margin: 0 auto;
 padding: 0;
 font-size: 0.750em;
 text-align: center;

 span {
   display: inline-block;
   margin: 0 4px;
 }
 a {
   color: #666;
   &:hover,
   &:focus {
     color: #000;
   }
 }
 .current {
   font-weight: bold;
   color: #000;
 }
 .gap {
   color: #ccc;
 }
 .first,
 .last {
   display: none;
 }
}

.product-listing + .pagination {
 margin-bottom: 1.313em;
}
/* @end */

/* ----- Animations ----- */

/* Blink */
@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
