/* Negate widths in homepage to go full-bleed, trim margin on global nav */
body.homepage {
	.row-shipping-and-contact + .container > div.row {
  		max-width: none !important;
  	}
  	.row-shipping-and-contact + .container > div.row > .columns {
		padding: 0;
  	}
	/* Set certain elements to have transparent backgrounds */
	.container:first-child,
	.global-menu-toggle,
	.currency-setting select {
		background-color: transparent;
	}
	@media only screen and (min-width: 48em) {
		.nav-global {
			background-color: transparent;
		}
		.footer-global-unit,
		.marketing {
			border-top: 0;
		}
	}
	.pop {
		font-family: 'Gill Sans W01 Book';
	}
	a {
		outline: 0;
	}
}

/* Leader layout styles */
.home-main {
	& > a {
		display: block;
		text-decoration: none;
	}
	.leader {
		.intro {
			position: absolute;
			left: -999em;
			top: -999em;
		}
		& > div {
			position: relative;
			margin: 0 auto;
			max-width: 62.5em;
		}
	}
}

.home-main .leader-0 {
	/* Small screen background */
	background: #f7f7f7 cdn-url("/homepage/2014-11-18/Homepage_PurlJam_MOBILE_V2.jpg") top center no-repeat;
	& > div {
		height: 400px;
	}
	a {
		position: absolute;
		display: block;
		line-height: 0;
		font-size: 0;
	}
	.link-cta-new {
		width: 100%;
		height: 100%;
	}
	.link-cta-tutorial {
		width: 100%;
		height: 70px;
		// Positioning
		bottom: 0;
		right: 0;
	}
	/* Large screen background */
	@media only screen and (min-width: 48em) {
		background: #f7f7f7 cdn-url("/homepage/2014-11-18/Homepage_PurlJam_DESKTOP_V2.jpg") top center no-repeat;
		& > div {
			height: 700px;
		}
		.link-cta-tutorial {
			height: 130px;
		}
	}
}

.home-main .leader-1 {
	/* Small screen background */
	background: #fff cdn-url("/homepage/2014-11-06/Homepage_BabyGang_MOBILE_V1.jpg") top center no-repeat;
	//background: #efefef cdn-url("/homepage/2014-11-06/Homepage_BabyGang_MOBILE_V1.jpg") top center no-repeat;
	& > div {
		height: 580px;
	}
	a {
		position: absolute;
		display: block;
		line-height: 0;
		font-size: 0;
	}
	.link-mbtg {
		width: 100%;
		height: 100%;
	}
	.link-kyo {
		width: 160px;
		height: 45px;
		// Positioning
		bottom: 20px;
		right: 100px;
	}
	/* Large screen background */
	@media only screen and (min-width: 48em) {
		background: #fff cdn-url("/homepage/2014-11-06/Homepage_BabyGang_DEKSTOP_V1.jpg") top center no-repeat;
  	//background: #efefef cdn-url("/homepage/2014-11-06/Homepage_BabyGang_DEKSTOP_V1.jpg") top center no-repeat;
		& > div {
			height: 700px;
		}
		.link-kyo {
			// Positioning
			bottom: 80px;
			right: 76px;
		}
	}

}

.home-main .leader-2 {
	/* Small screen background */
	background: #fbfaf5 cdn-url("/homepage/2014-07-18/MOBILE_summer_yarn.jpg") top center no-repeat;
	& > div {
		height: 580px;
	}
	a {
		position: absolute;
		display: block;
		line-height: 0;
		font-size: 0;
	}
	.link-maxi {
		width: 100%;
		height: 100%;
	}
	.link-lil {
		width: 148px;
		height: 45px;
		// Positioning
		margin-left: -158px;
		bottom: 82px;
		left: 50%;
	}
	.link-sleeves {
		width: 240px;
		height: 45px;
		// Positioning
		margin-left: -120px;
		bottom: 20px;
		left: 50%;
	}
	/* Large screen background */
	@media only screen and (min-width: 48em) {
		background: #fbfaf5 cdn-url("/homepage/2014-07-18/HOMEPAGE_summer_yarn.jpg") top center no-repeat;
		& > div {
			height: 700px;
		}
		.link-lil {
			bottom: 198px;
			left: 340px;
			// Positioning
			margin: 0;
		}
		.link-sleeves {
			bottom: 134px;
			// Positioning
		}
	}
	/*.button {
		padding: 0.4em 0.6em 0.4em;
	}*/
}

.home-main .leader-3 {
	/* Small screen background */
	background: #000 cdn-url("/homepage/2014-11-14/Homepage_Community_MOBILE_V1.jpg") top center no-repeat;
	& > div {
		height: 400px;
	}
	/* Large screen background */
	@media only screen and (min-width: 48em) {
		background: #000 cdn-url("/homepage/2014-11-14/Homepage_Community_DESKTOP_V1.jpg") top center no-repeat;
		& > div {
			height: 700px;
		}
 	}
}

/* Countdown */
.home-main .leader-countdown {
	padding: 90px 0 60px;
	text-align: center;
	background-color: #000;
	color: #fff;
	.only-mobile {
		display: none;
	}
	.countdown {
		margin: 0 auto;
		width: 770px;
	}
	h2 {
		font-size: 28px;
		clear: left;
	}
	p {
		font-size: 20px;
	}
	h2, p {
		font-family: $watg-font-secondary-light;
	}
	h2, p, a {
		color: #fff;
		text-transform: uppercase;
	}
	ul.no-bullet {
		margin: 0 auto;
		width: 269px;
		overflow: hidden;
		li {
			a {
				margin-right: 30px;
				padding: 10px;
				border: 1px solid #fff;
				display: block;
				float: left;
				font-family: $watg-font;
				font-size: 20px;
			}
		}
		li:last-child {
			a {
				margin: 0;
			}
		}
	}
}

/* Countdown: Small screen */
@media only screen and (max-width: 28.75em) {
	.home-main .leader-countdown {
		padding: 60px 0 30px;
		.only-mobile {
			display: initial;
		}
		.countdown {
			width: 270px;
		}
		h2 {
			font-size: 20px;
			line-height: 1em;
		}
		p {
			margin-bottom: 10px;
			font-size: 16px;
		}
		ul.no-bullet {
			width: 229px;
			li {
				a {
					margin-right: 10px;
					border: 1px solid #000;
					text-decoration: underline;
				}
			}
		}
	}
}

.home-main .row-flavours {
	text-align: center;
	overflow: hidden;
	.columns {
			height: 600px;
	}
}

.home-main .row-flavours .column-by-you {
	background: cdn-url('/our-story/03_Made_By_You.jpg') center center no-repeat;
	h2 {
		margin: 88px 0 0 0.5em; /* Slight offset left */
		position: relative;
		left: 50%;
		z-index: 100;
		font-size: emCalc(70px);
		span {
			font-family: $watg-font-secondary-light;
			font-size: 0.5em;
			display: block;
		}
	}
	@media only screen and (max-width: 48em) {
		h2 {
			font-size: (50px);
			margin: 485px 0 0;
			left: 0;
		}
	}
}
	
.home-main .row-flavours .column-by-the-gang {
	background: cdn-url('/our-story/04_Made_By_The_Gang.jpg') center center no-repeat;
}

.home-main .row-madeunique {
	padding: emCalc(100px) 0;
	text-align: center;
	background-color: #000;
	* {
		color: #fff;
	}
	.row {
		margin: 0 auto;
    max-width: 62.5em;
    position: relative;
	}
	h2 {
		font-size: emCalc(60px);
	}
	@media only screen and (max-width: 48em) {
		h2 {
			font-size: (40px);
		}
	}
	h2, img {
		float: left;
	}
	@media only screen and (max-width: 48em) {
		h2, img {
			margin: 30px 0 0 0 !important;
			float: none;
		}
	}
	img {
		margin: 30px 0 0 120px;
	}
}

/*************************************************************************************/

/* Strapline area (text, black background) */
.strap {
	padding: 30px 0;
	text-align: center;
	background-color: #000;
	img {
		margin-bottom: 30px;
	}
	p {
		font-family: $watg-font-secondary-light;
		font-size: 1.875em;
		line-height: 1.1em;
		text-transform: uppercase;
		color: #fff;
		strong {
			font-family: $watg-font-secondary;
			font-weight: normal;
		}
	}
	a {
		font-size: emCalc(20px);
		color: #fff;
	}
	.button {
		border-color: #fff;
	}
}

/*************************************************************************************/

/* Rail area: 3 products side by side */
.home-rail {
	padding: 30px 0 35px 0;
	text-align: center;
	background-color: #f3f3f3;
	& > div {
		position: relative;
		@include grid-row();
	}
	h2 {
		font-family: 'Trade Gothic W01 Bold';
		font-size: 4.375em;
		@media only screen and (min-width: 48em) {
			& {
				position: absolute;
				top: 40%;
				left: 0;
				right: 0;
			}
		}
	}
	@media only screen and (min-width: 37.5em) {
		.home-product {
			float: left;
			width: 32.268041237113%;
			margin-left: 1.546391752577%;
			&.first {
				margin-left: 0;
			}
		}
	}
	.product-image {
		border-bottom: 3px solid #000;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.product-details h3 {
		margin: 1em 0 0 0;
	}
	.price {
		font-size: 1.125em;
		margin: 0 0 1em 0;
	}
}
