/* @group Global shared elements (Spree and Refinery) */

/* @group Global (left hand) subnavigation and sidebar */
/*
.nav-secondary,
.sidebar {
	h2,
	h6 {
		font-size: 1.125em;
		text-transform: uppercase;
		@extend .watg-font;
	}
	ul {
		font-size: 0.875em;
		@include zero-out-list;
		padding-bottom: 1em;
	}
}
*/
/* @end */

/* @group Utility pages interim */

.utility-main {
	padding-bottom: 3em;
	p {
		font-size: 0.750em;
	}
	h3 {
		font-size: 1em;
	}
}

/* Press area */
.press h2 {
	clear: both;
	border-top: 1px dotted #000;
}
.press-listing,
.press-listing li {
	list-style: none;
	margin: 0;
	padding: 0;
}
 .press-listing li {
      float: left;
      width: 33.333333%;
 }
.press-listing li:nth-child(3n + 1) {
	clear: left;
}
.press-listing img {
	border: 1px solid #f1f1f1;
}



/* @end */

/* @end */


/* @group Refinery CMS specific elements */

/* @group FAQ units */

.faq-item {
	padding: 1em 0;
	border-top: 1px dotted #333;
}
.faq-title {
	margin: 0;
	font-size: 1.2em;
	cursor: pointer;
}
.faq-content {
	padding: 1em 0 0 0;
}

/* @end */

/* @end */


/* @group Spree Ecom specific elements */

/* body.shop { */

/* @group Original overrides */
.errorExplanation {
	@include alert($alert-color);
}

#similar_items_by_taxon, .taxons-list, .filter_choices {
	list-style: none;
}

.filter_choices {
	font-size: 85%;
	input { 
		margin: 0 5px 0 0;
		float: left;
	}
}

#taxon-crumbs {
	padding: 0;
}

#account {
	padding: 0;
}

.show-all {
	padding: 0;
	display: inline;
	position: relative;
	font-size: 0.75em;
	float: right;
}

.show-all.top {
	top: -0.313em;
}

.show-all.bottom {
	bottom: 2.626em;
}

.pagination {
	margin: 0 auto;
	padding: 0;
	font-size: 0.750em;
	text-align: center;

	span {
		display: inline-block;
		margin: 0 4px;
	}
	a {
		color: #666;
		&:hover,
		&:focus {
			color: #000;
		}
	}
	.current {
		font-weight: bold;
		color: #000;
	}
	.gap {
		color: #ccc;
	}
	.first,
	.last {
		display: none;
	}
}

.product-listing + .pagination {
	margin-bottom: 1.313em;
}
/* @end */

/* @group Application messaging */

.flash {
	color: inherit;
}
.flash.errorExplanation,
.flash.error {
	@include panel(pink, 15px);
}
.flash.notice {
	@include panel(#fff, 15px);
}
.flash.success {
	@include panel(#C3FFB7, 15px);
}
.out-of-stock {
	font-weight: bold;
	color: red;
}

/* @end */

/* @group Spree Product Rail */
.subtaxon-title {
	margin: 1em 0;
	padding-top: 1em;
}
.product-listing {
	margin: 1.25em 0;
	list-style: none;
	text-align: center;
	.product-list-item > a {
		display: block;
		margin: 0 auto;
		/*max-width: 312px;*/
	}
	.product-details {
		height: 100px;
		.kit-level {
			font-size: inherit;
			font-style: italic;
			&:before {
				content: '| ';
			}
		}
	}
	.product-image {
		padding-bottom: 0.75em;
	}
	.product-name {
		font-family: $watg-font;
		text-transform: uppercase;
	}
	.price-selling > .currency {
		display: none;
	}
}

@media #{$small} {
	.product-listing {
		@include clearfix;
	}
	/* This is the 3 col setting
	.product-list-item {
		float: left;
		width: 32.164948453608%;
		margin-right: 1.752577319588%;
		&:nth-child(3n + 3) {
			margin-right: 0;
		}
		&:nth-child(3n + 1) {
			clear: left;
		}
	}
	*/
	// This is the 2 col setting
	.product-list-item {
		float: left;
		width: 48.453608247423%;
		margin-left: 3.092783505155%;
		&:nth-child(odd) {
			clear: left;
			margin-left: 0;
		}
	}
}
	
	/* WATG kit rollover */
	/*
	.product-image {
		background: url('https://s3-eu-west-1.amazonaws.com/www.woolandthegang.com/img/kits/zoom_kit.jpg') no-repeat center;
		background-size: contain;
		a {
			display: block;
			text-align: center;
		}
		a:hover img {
			visibility: hidden;
		}
	}
	*/


/* @end */

/* @group Spree product details */

// CSS for old product page
// Can be deleted once new page is live
.product-details {

  .personalisation-options, .personalisation-option-values {
    display: none;
  }

	#main-image {

	}
	.thumbnails {
		li {
			list-style: none;
			float: left;
			margin: 0 10px 10px 0;
		}
	}
	.product-title {
		margin: 0;
	}
	.kit-level {
		margin: 0.25em 0 0 0;
		font-size: 1.250em; 
	}
	#cart-form {
		margin-top: 1.250em;
	}

	#product-price {
		padding-bottom: 1em;
		font-size: 1.250em;
		border-bottom: 1px dotted $primary-color;
	}
	#product-variants, .personalisations {
    @include grid-row($behavior: collapse);
    ul {
      list-style: none;
      input {
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }
  @media #{$small} {
		.variant-options {
			&.size,
			&.color,
			&.colour {
				@include grid-column($columns: 6, $collapse: true);
			}
		}
	}

  .personalisations {
    .personalisation-options {
			&.characters,
			&.colour {
				@include grid-column($columns: 6, $collapse: true);
			}
    }
  }

	#optional-parts {
		ul {
			@include zero-out-list;
		}
		label {
			display: inline;
		}
	}
	#cart-form > form {
		margin: 0;
	}
	.add-to-cart {
    padding-top: 1.25em;
		margin-bottom: 6px;
		label,
		input {
			display: inline-block;
			width: auto;
		}
		label {
			font-size: 0.750em;
			text-transform: uppercase;
		}
	}
	.product-listing {
		font-size: 0.750em;
		text-align: left;
		@include zero-out-list;
		margin-bottom: 1em;
	}
	.description {
		font-size: 0.750em;
		line-height: 1.6;
		padding: 1em 0;
		border-top: 1px dotted $primary-color;
	}
	#product-properties {
		border: none;
		border-collapse: collapse;
		margin-bottom: 1em;
		tr {
			background-color: transparent;
		}
		td, th {
			padding-left: 0;
			font-weight: normal;
			text-align: left;
			border: none;
			background-color: transparent;
		}
	}

	.gang-member {
		position: relative;
		min-height: 166px;
		margin-top: 1em;
		padding: 1em 0 0 10.313em;
		border-top: 1px dotted #000;
	}
	.gang-member h3 {
		font-size: 1em;
	}
	.gang-member span {
		display: block;
		font-weight: lighter;
	}
	.gang-member-soundbite {
		font-size: 0.750em;
	}
	.gang-member-portrait {
		position: absolute;
		top: 1em;
		left: 0;
	}

	.social-bookmarking {
		padding: 1em 0;
		border-top: 1px dotted $primary-color;
	}
}

/* @end */

/* @group Spree basket / order item listing table */
.order-item-listing,
.stock-contents {
	td {
		vertical-align: top;
	}
	.line-item:first-child td {
		border-top: none;
	}
	tfoot th {
		text-align: right;
		border-top: 1px dotted $primary-color;
	}
	.delete {
		display: inline-block;
		width: 1.813em;
		height: 1.813em;
		overflow: hidden;
		text-indent: -999em;
		background: transparent image-url('watg-img/touch-icon-close.svg') no-repeat center;
		border: 1px solid $primary-color;
	}
	.no-svg & .delete {
		background-image: image-url('watg-img/touch-icon-close.gif');
	}
	.assembly_parts, .personalisations {
		@include zero-out-list;
	}
	.item-total {
		font-weight: bold;
	}
}
.item-description {
	line-height: 1.4;
}

@media #{$small} {
	.order-item-listing {
		//font-size: 1em;
		.item-image,
		.item-description,
		.item-quantity,
		.item-delete {
			display: table-cell;
			vertical-align: top;
			padding-right: 1em;
		}
		.item-total {
			font-size: 1em;
		}
	}
	.line-item {
		h4 {
			font-size: 2.083em;
		}
    h6 {
			padding-top: 1em;
    }
	}
}
/* @end */


/* @group Spree basket page */

.shop {

	.order-total {
		font-weight: bold;
		font-size: 1.125em;
	}

	#order_coupon_code {
		max-width: 320px;
		font-weight: bold;
		display: inline-block;
		//color: #ff0054;
	}
	.coupons-updates {
		padding: 1em;
		text-align: center;
		background-color: $watg-tint-med;
		input, button {
			margin-bottom: 0;
		}
		/* Colourise input text */
		/*::-webkit-input-placeholder { color: #ff0054; }
		::-moz-placeholder { color: #ff0054; }
		:-ms-input-placeholder { color: #ff0054; }
		input:-moz-placeholder { color: #ff0054; }*/
	}

	.subtotal,
	.checkout-link {
		text-align: right;
		padding: 1em;
		background-color: $watg-tint-light;
	}

	.subtotal {
		font-size: 1.563em;
		border-bottom: 1px dotted $primary-color;
		.subtotal-label {
			font-family: $watg-font;
			text-transform: uppercase;
			@media #{$small} {
				margin-right: 12px;
			}
		}
		.sub-total {
			font-weight: normal;
		}
	}

	.cart-adjustment-header {
		border-top: 1px dotted $primary-color;
	}
	.continue-shopping {
	}
	/*.small-print {
		float: left;
		margin-left: 1.125em;
		text-align: left;
		font-size: 0.688em;
	}*/
}

/* @end */


/* @group Spree checkout / login barriers */

#new-customer,
.large-12 > #existing-customer,
#forgot-password,
#registration {
	padding: 0 1.125em 2em 1.125em;
	background: $watg-tint-light;
	h6 {
		padding: 1em 0;
		border-bottom: 1px dotted $primary-color;
	}
	label {
		font-size: 1em;
		display: inline-block;
	}
	a {
		text-decoration: underline;
	}
}
@media #{$small} {
	#new-customer,
	.large-12 > #existing-customer,
	#forgot-password,
	#registration {
		min-height: 545px;
		padding-left: 40%;
		padding-right: 20%;
		background: $watg-tint-light image-url('watg-img/bg-login.jpg') left bottom no-repeat;
		h6 {
			padding: 4em 0 1em 0;
		}
	}
	#guest_checkout {
		h6 {
			padding-top: 2em;
		}
	}
}

/* @end */


/* @group Spree checkout stages */

#checkout {
	.progress-steps {
		padding: 1em 0;
		border-top: 1px dotted $primary-color;
		border-bottom: 1px dotted $primary-color;
		li {
			list-style: none;
			display: inline-block;
			margin-right: 2em;
		}
		.current-first,
		.current {
			font-weight: bold;
		}
	}
	.edit_order fieldset {
		border: none;
		background-color: $watg-tint-light;
	}
	label {
		display: inline-block;
	}
	.form-buttons {
		padding: 1em 0 0 0;
		text-align: right;
		border-top: 1px dotted $primary-color;
		border-bottom: 1px dotted $primary-color;
	}
	.checkout-summary-box {
		padding-top: 0.5em;
		text-align: right;
		table {
			float: right;
		}
	}
	
	/* delivery */
	.stock-shipping-method-title {
		margin-top: 1em;
	}
	.shipping-methods {
		@include zero-out-list;
	}
	.shipping-instructions label {
		margin: 1em 0 0.5em 0;
	}
	
	/* payment */
	.payment-method-tab {
		display: inline-block;
		padding: 1em 1em 0 1em;
		margin-right: 5px;
		background-color: $watg-tint-light;
	}
	.p-methods {
		list-style: none;
		margin: 0;
		& > li > div {
			padding: 1em;
			margin-bottom: 1em;
			min-height: 80px;
			background-color: $watg-tint-light;
		}
		input {	
			display: inline-block;
			max-width: 300px;
		}
		select {
			display: inline-block;
			width: auto;
		}
	}
	.p-coupon-code {
		text-align: right;
	}
	#cvv_link {
		font-size: 0.688em;
	}
}

@media #{$small} {
	#checkout {
		.stock-contents {
			font-size: 1em;
			.cart-item-image,
			.cart-item-description {
				display: table-cell;
				vertical-align: top;
				padding-right: 1em;
			}
		}
	}
}

/* @end */

/* @group Spree order confirmation */

/* Order summary */
#order_summary {
	padding: 0;
	border: none;
	h1 {
		border-bottom: 1px dotted $primary-color;
	}
	.vcard {
		border: none;
		padding: 0;
		line-height: 1.4;
	}
}
.delivery-method,
.payment-method {
	margin-bottom: 1em;
	h6 {
		padding-top: 1em;
		border-top: 1px dotted $primary-color;
	}
}
/* @end */
