.top-bar {
    background: #ffffff !important;
}

/* @group Global shared elements (Spree and Refinery) */

/* @group Global masthead (Wool and the Gang logo) */

.masthead-global {
	float: left;
	padding: 1em 0 1em 0.9375em;
}
#logo {
	display: block;
	width: 135px;
	height: 99px;
}

/* @end */

/* @group Global utility nav (search, account, basket links) */

.nav-utility {
	padding: 0.750em 1em 0 0;
	text-transform: uppercase;
	text-align: right;
	ul {
		@include zero-out-list;
		display: inline;
		line-height: 1;
	}
	li {
		display: inline;
		font-size: emCalc(12px);
	}
	a, label {
		font-family: $watg-font;
	}
}
#nav-bar {
	li:after {
		content: '/';
		margin-left: 0.5em;
	}
	li:last-child:after {
		content: '';
		margin-left: 0;
	}
	li.worldwide,
	li.telephone {
		font-family: $watg-font-light;
		letter-spacing: 0.5px;
		min-height: 14px;
	}
	li.worldwide {
		padding-left: 19px;
		background: image-url('watg-img/icon-airplane.png') 0 0 no-repeat;
	}
	li.telephone {
		padding-left: 17px;
		background: image-url('watg-img/icon-telephone.png') 0 0 no-repeat;
	}
	li:nth-last-child(2):after {
		content: '' !important;
		margin-left: 0 !important;
	}
}
#search-bar {
	display: none;
}
#cart #link-to-cart {
	display: none;
}
@media #{$small} {
	.nav-utility {
		nav {
			display: inline;
		}
	}
	#link-to-cart:before {
		content: '/';
		margin-right: 0.5em;
	}
}

/* @group currency settings */
.currency-setting {
	float: none !important;
	margin-right: 0 !important;
	form {
		display: inline;
		margin: 0;
	}
	label {
		display: none;
	}
	select {
		float: none;
		display: inline;
		width: auto;
		border: none;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		font-family: $watg-font;
		font-size: 1em;
	}
	&:before {
		content: '/';
	}
}
/* @end */

/* @group Global Footer */
.container > footer.row {
	max-width: 60.625em;
}

.footer-global-unit {
	padding-bottom: 32px;
	padding-top: 32px;
	font-size: emCalc(12px);
	border-top: 1px solid #d9d9d9;
	@media #{$small} {
		padding-right: 0;
	}
}

/* Marketing Footer - Newsletter signup and social media */
.marketing {
	padding-top: 27px;
	padding-bottom: 32px;
	border-top: 1px solid #d9d9d9;
	@media #{$small} {
		padding-left: 0;
	}
}
.newsletter-subscribe {
	margin: 0;
	font-size: 0.750em;
	@include clearfix;
	label,
	button {
		text-transform: uppercase;
		color: $body-font-color;
		font-family: $watg-font;
	}
	label {
		margin-bottom: 0.5em;
		font-size: 1em;
	}
	input {
		float: left;
		width: 75%;
		margin-bottom: 0;
		font-size: 1em;
		font-style: italic;
	}
	button {
		float: right;
		width: 20%;
		margin-bottom: 0;
		padding: 0.5em;
		background: transparent;
	}
}
@media #{$small} {
	.newsletter-subscribe {
		border-bottom: 1px solid $body-font-color;
		label {
			display: inline;
		}
		input,
		input:focus {
			display: inline;
			float: none;
			width: 22em;
			border: none;
			background-color: transparent;
			-webkit-box-shadow: none;
			box-shadow: none;
			-webkit-transition: none;
			-moz-transition: none;
			transition: none;
		}
		button {
			display: inline;
			float: right;
			width: auto;
			padding: 0.75em;
			border-bottom: none;
		}
	}
}
.social {
	padding: 32px 0;
	font-size: 0.750em;
	h6 {
		text-transform: uppercase;
	}
	a {
		display: inline-block;
		margin-left: 4px;
		width: 1.667em;
		height: 1.667em;
		vertical-align: middle;
		overflow: hidden;
		text-align: left;
		text-indent: -999em;
		background-position: center;
		background-repeat: no-repeat;
		@include background-size(100% 100%);
	}
	.twitter {
		background-image: image-url('watg-img/icon-sm-twitter.svg');
		.no-svg & {
			background-image: image-url('watg-img/icon-sm-twitter.png');
		}
	}
	.facebook {
		background-image: image-url('watg-img/icon-sm-facebook.svg');
		.no-svg & {
			background-image: image-url('watg-img/icon-sm-facebook.png');
		}
	}
	.youtube {
		background-image: image-url('watg-img/icon-sm-youtube.svg');
		.no-svg & {
			background-image: image-url('watg-img/icon-sm-youtube.png');
		}
	}
	.pinterest {
		background-image: image-url('watg-img/icon-sm-pinterest.svg');
		.no-svg & {
			background-image: image-url('watg-img/icon-sm-pinterest.png');
		}
	}
	.tumblr {
		background-image: image-url('watg-img/icon-sm-tumblr.svg');
		.no-svg & {
			background-image: image-url('watg-img/icon-sm-tumblr.png');
		}
	}
	.instagram {
		background-image: image-url('watg-img/icon-sm-instagram.svg');
		.no-svg & {
			background-image: image-url('watg-img/icon-sm-instagram.png');
		}
	}
}
@media #{$small} {
	.social h6 {
		display: inline-block;
	}
}

/* @end */


/* @end */
