@charset "UTF-8";
/**
 * WATG
 *
 * Product group page CSS file
 *
 * @colordef
 */

/**
 * Table of contents
 *
 * Pagewide
 * Hero
 * Tabs
 * Made by the Gang
 * Knit your own
 * Knit your own supporting
 * Social
 * Spree partials
 */

/**
 * Notes
 *
 * Tablet (portrait) inherits mobile, but requires explicit rules for .small-* classes
 */

/**
 * Pagewide
 *
 * @section pagewide
 */

.product-group {
	a {
		outline: 0;
	}
	h5 {
		font-size: emCalc(16px);
	}
	
	/* Allow full widths */
	.row-shipping-and-contact + .container > div.row {
		max-width: none !important;
	}
	.row-shipping-and-contact + .container > div.row > .columns {
		padding: 0;
	}
	.wrapper-product-group div.row {
		margin: 0 auto;
		position: relative;
		max-width: 62.5em;
	}
	
	/* Reveal content */
	.reveal-title {
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px dotted #333;
		border-bottom: 1px dotted #333;
		cursor: pointer;
		background: image-url('product-group/arrow-down.png') right center no-repeat;
		line-height: 1.25em;
		&.revealed {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
	.reveal-content {
		padding-bottom: 1.25em;
		border-bottom: 1px dotted #333;
		font-size: emCalc(12px);
		word-wrap: break-word;
		display: none;
	}
	.reveal-content + .reveal-title {
		margin-top: -1em;
		border-top: 0;
	}
	// Open first item...
	.cart-form + .reveal-title + .reveal-content {
		display: block;
	}
	/* Social */
	.icons-social {
		margin: 0;
		padding: 0;
		li {
			margin-right: emCalc(5px);
			display: inline-block;
			a {
				display: block;
				font-size: 0;
				line-height: 0;
				height: 14px;
				&.twitter {
					background: image-url('product-group/icon-twitter.png') 0 0 no-repeat;
					width: 15px;
				}
				&.facebook {
					background: image-url('product-group/icon-facebook.png') 0 0 no-repeat;
					width: 9px;
				}
				&.pinterest {
					background: image-url('product-group/icon-pinterest.png') 0 0 no-repeat;
					width: 12px;
				}
			}
			a:hover {
				background-position: 0 -14px;
			}
		}
	}
	.panel-social {
		margin: -1em 0 emCalc(15px);
		padding: 0 0 emCalc(15px) 0;
		border-bottom: 1px dotted #333;
	}
	/* Stock level and level */
	.stock-level,
	.level {
		margin-bottom: 0;
		font-family: $watg-font;
		font-size: emCalc(22px);
		text-transform: uppercase;
		span {
			font-family: $watg-font-light;
		}
		span:before {
			content: "/ ";
		}
	}
	.stock-level {
		display: none;
		color: #8224e3;
		span {
			color: #000;
		}
	}
	h5.delivery + div {
		margin-bottom: 1.25em;
		a {
			text-decoration: underline;
		}
		h6 {
			font-size: emCalc(18px);
		}
		table {
			margin-bottom: 1.25em;
			caption {
				display: none;
			}
			tr {
				th, td {
					padding: emCalc(15px) 0;
					background-color: #fff;
					border-bottom: 1px solid #ccc;
				}
				th {
					font-family: $watg-font;
					font-size: emCalc(16px);
					text-transform: uppercase;
					text-align: left;
				}
				td {
					font-size: emCalc(16px);
				}
			}
			tr:first-child {
				th, td {
					border-top: 4px solid #ccc;
				}
			}
			tr:last-child {
				th, td {
					border-top: 0;
				}
			}
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

/**
 * Hero
 *
 * @section hero
 */

.product-group {
	.row-hero {
		min-height: 520px;
		background-position: center 0;
		background-repeat: no-repeat;
		background-color: #f9f9f9;
		background-size: cover;
		.title {
			margin-top: emCalc(60px);
			padding: emCalc(30px);
			background-color: #fff;
			text-align: center;
			h1 {
				margin: 0;
				font-size: emCalc(100px);
				line-height: 0.85em;
				// &.large {}
				&.medium {
					font-size: emCalc(80px);
					line-height: 0.9em;
				}
				&.small {
					font-size: emCalc(60px);
					line-height: 0.95em;
				}
				&.mini {
					font-size: emCalc(40px);
					line-height: 1em;
				}
			}
			p {
				margin: 0;
				font-family: $watg-font;
				font-size: 1em;
				font-weight: normal;
				text-transform: uppercase;
			}
			&.inverted {
				background-color: #000;
				* {
					color: #fff;
				}
			}
			.social {
				margin-top: 1em;
			}
		}
		.title p:before {
			content: "– ";
		}
		.title p:after {
			content: " –";
		}
		// Mobile .title
		@media only screen and (max-width: 48em) {
			.title {
				margin-top: 0;
				padding: emCalc(30px) 0;
			}
		}
		// Tablet (portrait)
		@media only screen and (max-width: 768px) {
			.push-8 {
				left: 0%;
			}
			.small-12 {
				width: 100%;
			}
		}
	}
}

/**
 * Tabs
 *
 * @section tabs
 */

.product-group {
	.row-tabs {
		margin-top: emCalc(-60px) !important; /* Pull up to hero row */
		.tab {
			padding: 0;
			background-color: #e1e1e1;
			min-height: emCalc(60px);
			h2 {
				margin: 0;
				font-size: emCalc(20px);
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				a {
					padding: emCalc(15px) 0.9375em;
					display: block;
					color: #666;
					span {
						padding-left: 40px;
						background-position: 0 -38px;
						background-repeat: no-repeat;
					}
					&.tab-made-by-the-gang {
						span {
							background-image: image-url('product-group/icon-ready-made.png');
						}
					}
					&.tab-knit-your-own {
						span {
							background-image: image-url('product-group/icon-knit-your-own.png');
						}
					}
					// Mobile span
					@media only screen and (max-width: 48em) {
						span {
							padding: 0;
						}
						&.tab-made-by-the-gang,
						&.tab-knit-your-own {
							span {
								background-image: none;
							}
						}
					}
				}
			}
			&.active {
				background-color: #fff;
				h2 {
					a {
						color: #000;
						span {
							background-position: 0 2px;
						}
					}
				}
			}
		}
		.push-3 {
			left: 24%;
		}
		.pull-3 {
			right: 24%;
		}
		// Mobile .push-3/.pull-3
		@media only screen and (max-width: 48em) {
			.push-3 {
				left: 0%;
			}
			.pull-3 {
				right: 0%;
			}
		}
		// Tablet (portrait)
		@media only screen and (max-width: 768px) {
			.small-6 {
				width: 50%;
			}
		}
	}
}

/**
 * Made by the Gang
 *
 * @section made-by-the-gang
 */

.product-group {
	.row-made-by-the-gang {
		padding: emCalc(40px) 0;
		display: none;
		h1 {
			margin-bottom: 0;
			font-size: emCalc(40px);
		}
		h2 {
			font-family: $watg-font-fallback;
			font-size: emCalc(20px);
		}
		h3 {
			margin-bottom: 1em;
			font-size: emCalc(40px);
			text-align: center;
		}
		h4 {
			margin: emCalc(30px) 0;
			font-size: 1em;
			line-height: 1.175em;
			span {
				margin-top: emCalc(5px);
				font-family: $watg-font-fallback;
				display: inline-block;
			}
		}
		.loading-text {
			padding: emCalc(60px) 0;
			font-family: $watg-font-secondary;
			font-size: emCalc(20px);
			text-transform: uppercase;
			text-align: center;
		}
		.loading-image {
			margin: 0 auto;
			width: 60px;
			height: 60px;
			display: block;	
		}
		.pagination {
			display: none;
		}
		
		/* Variant menus start */
		.menu-variants {
			margin: 0 auto emCalc(30px);
			font-family: $watg-font;
			font-size: 1em;
			text-transform: uppercase;
			position: relative;
			width: 75%;
			> li > a {
				padding: emCalc(10px) 0;
				display: block;
				border-bottom: 1px dotted #333;
				background: image-url('product-group/arrow-down.png') right center no-repeat;
			}
			ul {
				margin-left: 0;
				position: absolute;
				z-index: 1;
				width: 100%;
				display: none;
				background-color: #fff;
				> li > a {
					padding: emCalc(10px);
					display: block;
					width: 100%;
				}
			}
		}
		// Mobile .menu-variants
		@media only screen and (max-width: 48em) {
			.menu-variants {
				width: 100%;
			}
		}
		/* Variant menus end */
		
		/* Variant details */
		.details {
			margin-bottom: emCalc(30px);
			padding: emCalc(30px) 0;
			border-top: 2px solid #ececec;
			border-bottom: 2px solid #ececec;
			display: none;
			position: relative;
			.large-6:first-child {
				padding-left: emCalc(60px);
			}
			.large-6:last-child {
				padding-right: emCalc(60px);
			}
			// Mobile .large-6:first/.large-6:last
			@media only screen and (max-width: 48em) {
				.large-6:first-child {
					padding-left: 0.9375em;
				}
				.large-6:last-child {
					padding-right: 0.9375em;
				}
			}
			.arrow {
				margin-top: -20px;
				display: block;
				width: 40px;
				height: 40px;
				font-size: 0;
				line-height: 0;
				position: absolute;
				/*top: 50%;*/
				top: 300px; // Fix the arrows in place
				z-index: 1;
					filter:alpha(opacity=80);
				opacity: 0.8;
				&:hover {
						filter:alpha(opacity=100);
					opacity: 1;
				}
				&.prev {
					background: image-url('product-group/arrow-left.png') 0 0 no-repeat;
					left: 0;
				}
				&.next {
					background: image-url('product-group/arrow-right.png') 0 0 no-repeat;
					right: 0;
				}
			}
			// Mobile .arrow
			@media only screen and (max-width: 48em) {
				.arrow {
					display: none;
				}
			}
			.close {
				display: block;
				height: 40px;
				width: 40px;
				font-size: 0;
				line-height: 0;
				position: absolute;
				right: 0;
				z-index: 1;
				background: image-url('product-group/close.png') 0 0 no-repeat;
					filter:alpha(opacity=80);
				opacity: 0.8;
				&:hover {
					filter:alpha(opacity=100);
				opacity: 1;
				}
			}
			// Mobile .close
			@media only screen and (max-width: 48em) {
				.close {
					margin-right: 0.9375em;
				}
			}
			.reveal-title {
				span {
					font-family: $watg-font-light;
					display: block;
				}
				img {
					margin-right: emCalc(10px);
					float: left;
				}
			}
		}
		/* Variant details end */
		
		/* Variants start */
		.variant {
			margin-left: -0.25em; /* Negates inline-block whitespace bug */
			padding-left: 0.9375em;
			padding-right: 0.9375em;
			text-align: center;
		    width: 33.33333%;
			display: inline-block;
		    opacity: 0;
		    display: none;
		}
		// Mobile .variant
		@media only screen and (max-width: 48em) {
			.variant {
				margin-left: 0; /* Negates inline-block whitespace bug */
				width: 100%;
			}
		}
		/* Variants end */
	}
	& .active {
		display: block;
	}
	.push-3 {
		left: 24%;
		.menu-variants {
			margin-right: -0.9375em;
		}
	}
	.pull-3 {
		right: 24%;
		.menu-variants {
			margin-left: -0.9375em;
		}
	}
	// Mobile .push-3/.pull-3
	@media only screen and (max-width: 48em) {
		.push-3 {
			left: 0%;
			.menu-variants {
				margin-right: 0;
			}
		}
		.pull-3 {
			right: 0%;
			.menu-variants {
				margin-left: 0;
			}
		}
	}
	// Tablet (portrait)
	@media only screen and (max-width: 768px) {
		.small-6 {
			width: 50%;
		}
	}
}

/**
 * Knit your own
 *
 * @section knit-your-own
 */

.product-group {
	.row-knit-your-own {
		padding: emCalc(40px) 0;
		display: none;
		h1 {
			margin-bottom: 0;
			font-size: emCalc(40px);
			span {
				display: block;
				font-size: 0.367em;
			}
		}
		h2 {
			font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			font-size: emCalc(20px);
		}
		h3 {
			margin-bottom: 1em;
			font-size: emCalc(40px);
			text-align: center;
		}
		&.active {
			display: block;
		}
	}
}

/**
 * Knit your own supporting
 *
 * @section knit-your-own-supporting
 */

.product-group {
	.row-knit-your-own-supporting {
		padding: emCalc(60px) 0;
		background-color: #000;
		text-align: center;
		display: none;
		h4 {
			font-family: $watg-font-secondary-light;
			font-size: 1.875em;
			line-height: 1.25em;
			text-transform: uppercase;
			color: #fff;
			span {
				font-family: $watg-font-secondary;
			}
		}
		.button {
			margin-top: emCalc(30px);
			border-color: #fff;
		}
	}
	& .active {
		display: block;
	}
}

 /**
 * Social
 *
 * @section social
 */

.product-group {
	.widget-social {
		display: none;
	}
	.row-social {
		padding-top: emCalc(30px);
		.widget-social {
			margin-left: -0.25em;
			padding: emCalc(20px) 0;
			border-top: 2px solid #f3f3f3;
			border-bottom: 2px solid #f3f3f3;
			background-color: #f9f9f9;
			position: relative;
			
			/* Row arrow */
			&:after, &:before {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after	{
				border-color: rgba(249, 249, 249, 0);
				border-bottom-color: #f9f9f9;
				border-width: 17px;
				margin-left: -17px;
			}
			&:before {
				border-color: rgba(63, 63, 3, 0);
				border-bottom-color: #f3f3f3;
				border-width: 20px;
				margin-left: -20px;
			}
			
			/* Overwrite Olapic styles */
			/* --- Widget --- */
			.olapic_widget_header {
				padding: emCalc(15px);
				.olapic_widget_gallery_title {
					padding: 0;
					font-size: 1em;
					color: #000;
					line-height: inherit;
					display: none;
				}
				.olapic_widget_area,
				.olapic_view_all_button {
					margin: 0 0 0 emCalc(20px);
					padding: 0;
					font-family: $watg-font;
					font-size: 1em;
					text-decoration: underline;
					text-transform: uppercase;
					height: auto;
					line-height: inherit;
					background: none;
				}
				.olapic_view_all_button {
					display: none; // Hide this for now...
				}
			}
			.olapic_widget_mainwrapper {
				height: 170px;
				.olapic_widget_main {
					.carousel-navigation {
						top: 10px;
						margin: 0;
						line-height: 0;
						height: 150px;
						width: 87px;
						background-color: none;
					}
					// Mobile .olapic_empty_widget_content
					@media only screen and (max-width: 48em) {
						.carousel-navigation {
							margin-top: 45px;
							height: 60px;
							width: 60px;
						}
					}
					.olapic-icon-chevron-left {
						background: image-url('product-group/olapic-widget-arrow-left.png') left center no-repeat;
						&:before {
							content: "";
						}
					}
					.olapic-icon-chevron-right {
						background: image-url('product-group/olapic-widget-arrow-right.png') right center no-repeat;
						&:before {
							content: "";
						}
					}
					.olapic_empty_widget_content {
						margin-top: emCalc(15px);
						background: image-url('product-group/olapic-background-empty.png') center center no-repeat;
						min-height: 148px;
						p {
							padding-top: 50px;
							font-family: $watg-font;
							font-size: emCalc(30px);
							text-transform: uppercase;
							text-align: center;
						}
					}
					// Mobile .olapic_empty_widget_content
					@media only screen and (max-width: 48em) {
						.olapic_empty_widget_content {
							p {
								font-size: 1em;
							}
						}
					}
					.olapic_image_thumbnail {
						max-width: 150px;
					}
				}
			}
			.olapic_widget_footer {
				padding: 0 emCalc(15px);
				margin: 0;
				a {
					color: #e6e6e6;
				}
			}
		}
	}
	
	/* --- Overlay --- */
	#olapic_viewer_overlay.olapic-viewer-overlay {
		.columns {
			padding: 0;
		}
		.viewer-previous a,
		.viewer-next a {
			margin-top: -100px;
			height: 160px;
			/*width: 160px;*/
			width: 30px;
		}
		.viewer-previous {
			.olapic-icon-chevron-left:before {
				content: "";
			}
			a {
				background: image-url('product-group/olapic-overlay-arrow-left.png') left center no-repeat;
			}
		}
		.viewer-next {
			.olapic-icon-chevron-right:before {
				content: "";
			}
			a {
				background: image-url('product-group/olapic-overlay-arrow-right.png') right center no-repeat;
			}
		}
		.viewer-close {
			top: 20px;
			right: 20px;
			height: auto;
			width: auto;
			.olapic-icon-remove {
				height: 30px;
				width: 30px;
				background: image-url('product-group/olapic-overlay-close.png') center center no-repeat;
				&:before {
					content: "";
				}
			}	
		}
		.featured-photo {
			background-color: #f9f9f9;
		}
		.author {
			margin: emCalc(30px) 0 0;
			.author-info {
				margin-bottom: emCalc(15px);
			}
			.author-names {
				margin: 0;
				padding-bottom: emCalc(20px);
				width: 100%;
				border-bottom: 1px solid #e6e6e6;
			}
			.author-handlename,
			.author-realname {
				float: none !important;
				color: #000;
				text-transform: uppercase;
				display: inline;
			}
			.author-handlename {
				display: none;
			}
			.author-realname {
				font-family: $watg-font;
				font-size: emCalc(20px);
			}
			.author-avatar,
			.icon-source {
				display: none;
			}
		}
		.photo-caption {
			margin-top: emCalc(20px);
			font-family: $watg-font;
			font-size: emCalc(30px) !important;
			color: #000 !important;
			text-transform: uppercase;
			letter-spacing: normal;
			line-height: 1.125em;
			min-height: 0 !important;
			word-wrap: break-word;
		}
		.sharing {
			margin: 0;
			float: none;
			li {
				margin: 0;
				padding-top: emCalc(10px);
				i {
					padding: 0 !important;
					margin-left: 0.1em !important;
					margin-right: 0.1em !important;
					font-size: 20px !important;
				}
			}
			.sharing-fb,
			.sharing-tw,
			.sharing-pi {
				color: #000;
				background-color: #fff;
				height: auto;
				width: auto;
			}
			.sharing-fb:hover,
			.sharing-tw:hover,
			.sharing-pi:hover {
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
				box-shadow: none;
			}
			.sharing-fb:hover {
				color: #3b5a99;
			}
			.sharing-tw:hover {
				color: #25aae1;
			}
			.sharing-pi:hover {
				color: #cb2027;
			}
		}
		.products,
		.viewer-shortcuts {
			display: none;
		}
		.newcopyright-olapic {
			padding-top: 5px;
			border-top: 1px solid #e6e6e6;
			a {
				color: #e6e6e6;
			}
		}
	}
}

/**
 * Spree partials
 *
 * @section spree-partials
 */

/* Taken from _interim.scss then edited */
.product-group {
	/* Thumbnails partial */
	.thumbnails {
		margin: 0 0 emCalc(15px);
		li {
			margin: 0 emCalc(15px) emCalc(15px) 0;
			list-style: none;
			float: left;
		}
	}
	/* Image partial */
	/* Cart form partial */
	.cart-form {
		.product-price {
			margin-top: 0.5em;
			margin-bottom: 1em;
			padding-bottom: 1em;
			border-bottom: 1px dotted #333;
			font-size: 1.375em;
		}
		.product-title {
			margin: 0;
		}
		.product-variants {
			@include grid-row($behavior: collapse);
			clear: both;
			.variant-option-values {
				margin-left: 0;
			}
			.color-value {
				font-family: $watg-font-light;
				line-height: 1.25em;
			}
			.color-value:before {
				content: "/ ";
			}
		}
		.product-listing {
			margin-bottom: 1em;
			font-size: 0.750em;
			text-align: left;
			@include zero-out-list;
		}
		@media #{$small} {
			.variant-options {
				&.size,
				&.color,
				&.colour {
					@include grid-column($columns: 6, $collapse: true);
					padding-right: 20px;
				}
			}
		}
		.optional-parts {
			ul {
				@include zero-out-list;
			}
			label {
				font-size: emCalc(12px);
				display: inline;
			}
		}
		.add-to-cart {
			margin: 1em 0 0;
			padding: 1em 0 0;
			border-top: 1px dotted #333;
			label,
			input {
				display: inline-block;
				width: auto;
			}
			label {
				font-family: $watg-font-light;
				font-size: emCalc(16px);
				text-transform: uppercase;
			}
			button {
				margin: emCalc(10px) 0;
				font-size: emCalc(16px);
			}
			button:hover {
				background-color: #fff;
				color: #333;
			}
		}
		/* Personalisations */
		.personalisations {
			margin: 1em 0 0 !important;
			padding: 1em 0 0 !important;
			border: 0 !important;
			border-top: 1px dotted #333 !important;
			label, input {
				font-size: emCalc(12px);
			}
			input {
				margin-right: 2px;
			}
			.personalisation {
				margin-top: 15px;
			}
			.personalisation-options,
			.personalisation-option-values {
				margin: 0 0 0.75em;
				display: none;
			}
			.personalisation-color-value {
				font-family: $watg-font-light;
			}
			.personalisation-color-value:before {
				content: "/ ";
			}
			.characters {
				h5 {
					font-family: $watg-font-light;
				}
			}
		}
		/* Assembly */
		.row-assembly {
			.assembly-menus {
				padding: 0;
				ol {
					.product-variants {
						padding: emCalc(20px) emCalc(30px) emCalc(20px) emCalc(10px);
						margin-bottom: emCalc(20px);
						list-style-position: inside;
						font-family: $watg-font;
						text-transform: uppercase;
						cursor: pointer;
						background: image-url('product-group/arrow-down.png') right emCalc(10px) center no-repeat;
						border: 1px solid #dadada;
						min-height: emCalc(50px);
						position: relative;
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
						user-select: none;
						span.optional {
							font-family: $watg-font-light;
						}
						.variant-options {
							margin-top: emCalc(12px);
							margin-left: emCalc(-1px);
							margin-right: emCalc(-1px);
							padding: 0 emCalc(10px);
							position: absolute;
							width: auto;
							left: 0;
							z-index: 100;
							background-color: #fff;
							border: 1px solid #dadada;
							border-top: 0;
							display: none;
							p:first-child {
								margin: 0;
								margin-left: emCalc(-10px);
								margin-right: emCalc(-10px);
								padding: emCalc(5px) emCalc(10px);
								font-family: $watg-font-light;
								text-align: center;
								background-color: #f9f9f9;
							}
							p:first-child:before {
								content: "– ";
							}
							p:first-child:after {
								content: " –";
							}
							.variant-option-values {
								margin-bottom: 0;
								width: 100%;
								li {
									margin: 0;
									padding: emCalc(5px) 0;
									width: 50%;
									border-top: 1px dotted #dadada;
									float: left;
									a, p {
										float: left;
										display: block;
										font-family: $watg-font-light;
										font-size: 1.333em;
									}
									a:last-child {
										float: none;
									}
									p {
										margin: 0 emCalc(5px) 0 emCalc(30px);
										padding: 0;
										float: none;
									}
								}
								li:only-child {
									width: 100%;
								}
								li:nth-child(-n+2) {
									border: 0;
								}
								li.no-thanks {
									a, p {
										color: #ff0054 !important;										
									}
								}
								// Mobile li
								@media only screen and (max-width: 48em) {
									li {
										width: 100%;
									}
									li:nth-child(-n+2) {
										border-top: 1px dotted #dadada;
									}
									li:first-child {
										border: 0;
									}
								}
							}
						}
					}
					.product-variants:before,
					.product-variants:after {
						content: none;
					}
					& .revealed {
						background: image-url('product-group/arrow-up.png') right emCalc(10px) center no-repeat;
					}
				}
				.add-to-cart {
					margin-bottom: emCalc(5px);
					padding-top: 0;
					border: 0;
					text-align: right;
					input {
						margin: emCalc(10px) 0;
					}
				}
			}
			.assembly-images {
				padding-right: 0;
				ul {
					li {
						padding: emCalc(10px);
						margin-bottom: emCalc(20px);
						background: center center no-repeat;
						//background-size: contain;
						min-height: emCalc(50px);
					}
				}
			}
		}
	}
}
