@charset "UTF-8";
/**
 * WATG
 *
 * Product top page CSS file
 *
 * @colordef
 */

/**
 * Table of contents
 *
 * Pagewide
 * Groups
 * Class specific
 */

/**
 * Pagewide
 *
 * @section pagewide
 */

.product-top {
	height: 100%;
	background-color: transparent !important;
	
	.container {
		background-color: transparent;
	}
	.row-shipping-and-contact,
	footer {
		display: none;
	}
}

/**
 * Groups
 *
 * @section groups
 */

.product-top {
	.row-groups {
		margin-top: emCalc(30px);
		text-align: center;
		ul {
			li {
				line-height: 3em;
				a {
					font-family: $watg-font;
					font-size: emCalc(40px);
					text-transform: uppercase;
					text-decoration: underline;
					//color: #00ff44;
					color: #000;
					outline: 0;
				}
				// Mobile a
				@media only screen and (max-width: 48em) {
					a {
						font-size: emCalc(30px);
					}
				}
			}
			// Mobile li
			@media only screen and (max-width: 48em) {
				li {
					line-height: 1.75em;
				}
			}
		}
	}
}

/**
 * Class specific
 *
 * @section class-specific
 */
.product-top.whats-new,
.product-top.women {
	.nav-primary,
	.row-groups {
		ul {
			li {
				a {
					color: #fff;
				}
				// Mobile a
				@media only screen and (max-width: 48em) {
					a {
						color: #000;
					}
				}
			}		
		}
	}
	.nav-primary {
		ul {
			li {
				a.active {
					border-bottom: 5px solid #fff;
				}
				// Mobile a.active
				@media only screen and (max-width: 48em) {
					a {
						border-bottom: 5px solid #000;
					}
				}
			}
		}
	}
}