/* Static page elements - i.e. Meet The Gang, Contact Us etc... */

/* Terms and Conditions */
.terms-and-conditions {
	.utility-hero {
		margin-bottom: 2em;
	}
	h2 {
		font-size: 1.250em;
	}
	li {
		margin-bottom: 1.25em;
		font-size: 0.75em;
		list-style-position: inside;
	}
	li li {
		margin-bottom: 0;
		font-size: 1em;
	}
}

/* Meet The Gang */
.utility-hero img {
	display: block;
	margin: 0 auto;
}
.utility-page-subtitle h2 {
	font-size: 1.250em;
	text-align: center;
	margin: 0;
	padding: 2em 0;
}

/* Gang Manifesto */
.gang-manifesto {
	.utility-hero {
		height: 600px;
		margin-bottom: 1.250em;
		font-family: 'Gill Sans W01 Light';
		font-size: 1.5em;
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		background: image-url('watg-img/hero-gang-manifesto-portrait.jpg') center bottom no-repeat;
	}
	.message {
		display: block;
		padding: 10px 10px 10px 10px;
	}
	.pop {
		font-family: 'Gill Sans W01 Book';
	}
	@media only screen and (min-width: 48em) {
		.utility-hero {
			min-height: 400px;
			font-size: 1.875em;
			background-image: image-url('watg-img/hero-gang-manifesto.jpg');
		}
		.message {
			padding: 150px 380px 0 100px;
		}
	}
}

/* Bespoke Projects */
.bespoke-projects-main {
	padding-bottom: 3em;
	.billboard {
		padding-left: 0.9375em;
		padding-right: 0.9375em;
		.columns {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.copy {
		text-align: center;
	}
	h2 {
		margin: 2.5em 0;
		font-size: 1.250em;
	}
	h3 {
		margin: 0 0 1.250em 0;
		font-size: 1em;
	}
	.tint-vc {
		color: #ffac24;
	}
	.tint-mini {
		color: #ff0000;
	}
	.tint-colette {
		color: #0058bd;
	}
	.tint-billabong {
		color: #00ebd8;
	}
	ul {
		list-style: none;
		margin: 0 0 1em 0;
		padding: 0;
	}
	li {
		display: inline-block;
		padding-left: 10px;
		margin-right: 10px;
		border-left: 1px solid #000;
		&:first-child {
			padding-left: 0;
			border-left: 0;
		}
	}
	p {
		margin: 0 0 2.500em 0;
	}
	.button {
		font-size: 1.125em;
	}
}

/* Video Tutorials */
.video-tutorials-main {
	h2 {
		padding-bottom: 0.25em;
		border-bottom: 1px dotted #000;
	}
}
.video-cta {
	margin: 0 0 1.5em 0;
	padding: 2.5em 0;
	text-align: center;
	background: #fafafa;
	span {
		display: block;
		font-family: "Gill Sans W01 Light";
		font-size: 1.563em;
		text-transform: uppercase;
		@media only screen and (min-width: 48em) {
			display: inline;
		}
	}
	@media only screen and (min-width: 48em) {
		.button {
			margin: 0 0 0 1.5em;
		}
	}
}
.video-unit {
	text-align: center;
	h3 {
		padding: emCalc(30px 10px);
		font-family: $watg-font-secondary;
		font-size: emCalc(30px);
		color: #000;
		border: 1px solid #ccc;
		height: 200px;
		overflow: hidden;
	}
	h3, a {
		display: block;
	}
	a:hover {
		text-decoration: none;
	}
	div {
		min-height: 3.5em;
		padding-top: 1em;
	}
	p {
		margin: 0;
		font-family: "Trade Gothic W01 Bold";
		text-transform: uppercase;
		line-height: 1.2;
	}
	&[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
}

/* Press */
.press {
	.contact {
		margin-top: emCalc(30px);
	}
}

/* Careers */
.careers {
	.utility-page-subtitle h2 {
		font-size: 1.875em;
		text-align: center;
		margin: 1.5em 0;
		padding: 0;
	}
	.utility-page-subtitle h3 {
		text-align: center;
		font-size: emCalc(20px);
	}
	.row:last-child .utility-page-subtitle h2 {
		font-size: 1.25em;
		margin: 0 0 3em;
		padding: 0;
	}
	.utility-main h3 {
		padding: 0.5em 0;
		margin: 0;
		font-size: 1.25em;
		cursor: pointer;
		border-top: 1px dotted #000;
	}
	.utility-main h4 {
		font-size: 1em;
	}
	.utility-main li {
		font-size: 0.75em;
		list-style-type: none;
		margin-bottom: 0.5em;
	}
	.utility-main li:before {
		content: "— ";
	}
	.career-content .large-6 {
		margin: 1em 0;
	}
}

/* Become a gang maker */
.become-a-gang-maker {
	h2 {
		position: relative;
		z-index: 1;
	}
	iframe {
		position: relative;
		overflow: hidden;
		top: -75px;
	}
}

/* Thank you */
body.thank-you {
	padding-top: 75px; /* Same value as iframe shift */
	background-color: #fff;
	text-align: center;
}

/* Autumn/Winter preview */
.autumn-winter-preview .nav-primary-sub + .container .row:first-child {
	max-width: none;
	background-color: #eee;
}

.autumn-winter-preview .row-hero {
	background: image-url('watg-img/hero-autumn-winter-mobile.jpg') center bottom no-repeat #eee;
	height: 540px;

	@media only screen and (min-width: 48em) {
		background: image-url('watg-img/hero-autumn-winter.jpg') center bottom no-repeat #eee;
		height: 460px;
	}
}

.autumn-winter-preview .row-hero .intro {
	position: absolute;
	left: -999em;
	top: -999em;
}

.autumn-winter-preview .row-form {
	padding: 30px 0;
	margin: 0 auto;
	max-width: 62.5em;
	min-height: 175px;
	background-color: #eee;
}

.autumn-winter-preview .row-form p {
	text-align: center;
}

/* Host a knit workshop */
.host-a-knit-workshop {
	.utility-page-subtitle img {
		margin: 0 auto emCalc(15px);
		display: block;
	}
	.utility-page-subtitle p {
		text-align: center;
		a {
			text-transform: uppercase;
			text-decoration: underline;
			font-weight: bold;
		}
	}
	iframe {
		position: relative;
		overflow: hidden;
	}
}

.thank-you-for-your-application {
	padding-top: 30px;
	background-color: #fff;
	text-align: center;
}

/* ----- Olapic gallery pages ----- */
.olapic-gallery {
	.row-shipping-and-contact {
		display: none;
	}
	.row-shipping-and-contact + .container > div.row {
		max-width: none !important;
		background-color: #f9f9f9;
	}
	.row-olapic-gallery {
		position: relative;
		margin: emCalc(60px) auto;
		max-width: 62.5em;
		a {
			outline: 0;
		}
		h1, h2, h3, p {
			text-align: center;
		}
		h1 {
			font-size: 0;
			line-height: 0;
		}
		h2, h3 {
			margin: emCalc(30px) 0;
			font-family: $watg-font-secondary-light;
			font-size: emCalc(20px);
			font-weight: normal;
			line-height: 1.25em;
			strong {
				font-family: $watg-font-secondary;
				font-weight: normal;
			}
		}
		h3 {
			a {
				text-decoration: underline;
			}
		}
		.social {
			padding: 0;
			font-size: 0.6em;
			position: relative;
			top: emCalc(-5px);
		}
		ul {
			padding: 0 1px;
			li {
				margin: 0;
				padding: 0;
				width: emCalc(242px);
				height: emCalc(242px);
				background-size: cover;
				background-repeat: no-repeat;
				background-color: #000;
				a {
					display: block;
					width: 100%;
					height: 100%;
					line-height: 0;
					font-size: 0;
				}
			}
			li:first-child {
				width: emCalc(484px);
				height: emCalc(484px);
			}
			/* Just mobile, custom width */
			@media only screen and (max-width: 320px) {
				li, li:first-child {
					width: emCalc(242px);
					height: emCalc(242px);
				}
			}
			&.odd {
				li {
					float: left;
				}
			}
			&.even {
				li {
					float: right;
				}
			}
			/* All non-desktop, custom width */
			@media only screen and (max-width: 1080px) {
				&.odd, &.even {
					li {
						float: left;
					}
				}
			}
		}
		.olapic-photos {
			overflow: hidden;
		}
		.olapic-photos + p {
			margin: emCalc(30px) 0 0;
		}
		.button {
			display: none;
		}
		/* All non-desktop, custom width */
		@media only screen and (max-width: 1080px) {
			.olapic-photos {
				margin: 0 auto;
				width: emCalc(488px);
			}
		}
		/* Just mobile, custom width */
		@media only screen and (max-width: 320px) {
			.olapic-photos {
				width: emCalc(248px);
			}
		}
	}
	.modal {
		padding: 0;
		width: 65%;
		top: 30px !important;
		.modal-close {
			top: 20px;
			right: 20px;
		}
		.col-left, .col-right {
			width: 50%;
			float: left;
			min-height: emCalc(450px);
		}
		.col-left {
			background-size: cover;
			background-repeat: no-repeat;
		}
		.col-right {
			padding: 30px 20px;
			word-wrap: break-word;
			h3 {
				margin-bottom: 20px;
				padding-bottom: 20px;
				font-size: emCalc(20px);
				border-bottom: 1px solid #e6e6e6;
			}
			p {
				font-family: $watg-font;
				font-size: emCalc(28px);
				text-transform: uppercase;
				line-height: 1.125em;
				text-align: left;
			}
		}
		/* All non-desktop, custom width */
		@media only screen and (max-width: 1080px) {
			.col-left, .col-right {
				float: none;
			}
			.col-left {
				display: none;
			}
			.col-right {
				width: 100%;
			}
		}

		/* Just mobile, custom width */
		@media only screen and (max-width: 320px) {
			.col-left, .col-right {
				float: none;
			}
			.col-left {
				display: none;
			}
			.col-right {
				width: 100%;
				p {
					font-size: emCalc(24px);
				}
			}
		}
	}
	/* Just mobile, custom width */
	@media only screen and (max-width: 320px) {
		.modal {
			position: fixed !important;
		}
	}
}
/* Olapic gallery page: FRD */
.olapic-gallery.fashion-revolution-day {

}
/* Olapic gallery page: HWTG */
.olapic-gallery.hang-with-the-gang {
	.row-shipping-and-contact + .container > div.row {
		background-color: #fff;
	}
}

/* Vote for your favourite */
.vote-for-your-favourite {
  text-decoration: none;
  .row-shipping-and-contact + .container > div.row {
    max-width: none !important;
  }

  a:hover {
    text-decoration: none;
  }

	.row-hero {
		background: cdn-url('static/gang-labs/GangLabs_3_Site_Banner.jpg') center 0;
		min-height: 407px;
    max-height: 407px;
  	margin-bottom: emCalc(50px);
    h1 {
      color: #242021;
      margin-top: emCalc(67.5px);
      font-family: $watg-font;
      font-size: emCalc(85px);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      line-height: 1em;
      margin-bottom: 20px;

      @media only screen and (max-width: 48em) {
        margin-top: emCalc(140px);
         font-size: emCalc(48px);
      }
      @media only screen and (max-width: 24em) {
         margin-top: emCalc(140px);
         font-size: emCalc(48px);
      }
    }
	}

  .row-text {
  	text-align: center;
    h1 {
    	text-align: center;
    	padding: emCalc(10px) 0;
  		// display: none;
  	}

  	a {
  		padding-left: 65px;
  		padding-bottom: 40px;
  	}

  	h3 {
  		// display: none;
  	}
    h3 {
      font-family: $watg-font-secondary-light;
      font-size: emCalc(30px);
      margin: 40px;
      margin-top: emCalc(80px);
    }

    h2 {
      font-family: $watg-font-secondary-light;
      font-size: emCalc(25px);
      margin: 30px;
    }

    h4 {
      font-size: emCalc(15px);
      margin: 20px;
    }

    .button {
    	text-align: center;
      margin: 20px;
      font-size: emCalc(20px);
      margin-bottom: emCalc(70px);
      padding: emCalc(15px);
    }
  }
}

/* Our story/Yarn/Knit party */
.our-story,
.yarn,
.knit-party {
	/* Full width */
	.row-shipping-and-contact + .container > div.row {
		max-width: none !important;
	}
	.row-shipping-and-contact + .container > div.row > .columns {
		padding: 0;
	}
	.wrapper-our-story div.row,
	.wrapper-yarn div.row,
	.wrapper-knit-party div.row {
		margin: 0 auto;
		position: relative;
		max-width: 62.5em;
	}
	.wrapper-our-story,
	.wrapper-yarn,
	.wrapper-knit-party {
    .only-mobile {
      display: none;
    }
		@media only screen and (max-width: 48em) {
			.only-desktop {
				display: none;
			}
      .only-mobile {
        display: initial;
      }
		}
		text-align: center;
		h1 {
			font-size: emCalc(70px);
		}
		@media only screen and (max-width: 48em) {
			h1 {
				font-size: (50px);
			}
		}
		h2 {
			font-size: emCalc(70px);
			span {
				font-family: $watg-font-secondary-light;
				font-size: 0.5em;
				display: block;
			}
		}
		@media only screen and (max-width: 48em) {
			h2 {
				font-size: (50px);
			}
		}
		h2.small {
			font-size: emCalc(60px);
		}
		@media only screen and (max-width: 48em) {
			h2.small {
				font-size: (40px);
			}
		}
		h3 {
			font-family: $watg-font-secondary-light;
			font-size: emCalc(30px);
			strong {
				font-family: $watg-font-secondary;
				font-weight: normal;
			}
		}
		@media only screen and (max-width: 48em) {
			h3 {
				font-size: (20px);
			}
		}
		h4 {
			text-transform: uppercase;
		}
		a {
			text-decoration: underline;
		}
		p, li {
			font-size: emCalc(18px);
			margin-bottom: 0;
		}
		@media only screen and (max-width: 48em) {
			p, li {
				font-size: emCalc(16px);
			}
		}
		ul {
			margin-top: 2em;
			li {
				margin-bottom: 1em;
			}
		}
		.inverted {
			background-color: #000;
			* {
				color: #fff;
			}
		}
		.spaced {
			line-height: 1.8em;
		}
		.row-halves {
			overflow: hidden;
			.columns {
				height: 600px;
			}
		}
		.row-padding-large {
			padding: emCalc(100px) 0;
		}
		.row-padding-medium {
			padding: emCalc(80px) 0;
		}
		.row-padding-small {
			padding: emCalc(60px) 0;
		}
		/* Row specific */
		.row-made-differently,
		.row-is-changing,
		.row-with-care,
		.row-knitting,
		.row-materials {
			height: 600px;
		}
		.row-made-differently {
			background: cdn-url('/our-story/01_Fashion_Made_Differently.jpg') center center no-repeat;
			h1 {
				margin-top: 146px;
			}
		}
		.row-is-changing {
			background: cdn-url('/our-story/02_Fashion_Is_Changing.jpg') center center no-repeat;
			h2 {
				margin-top: 223px;
			}
		}
		.row-with-care {
			background: cdn-url('/our-story/10_Sourced_With_Care.jpg') center center no-repeat;
			h2 {
				margin-top: 111px;
			}
		}
		.row-knitting {
			background: cdn-url('/our-story/09_Knitting_Is_The_New_Yoga.jpg') center center no-repeat;
		}
		.row-madeunique {
			h2, img {
				float: left;
			}
			@media only screen and (max-width: 48em) {
				h2, img {
					margin: 30px 0 0 0 !important;
					float: none;
				}
			}
			img {
				margin: 30px 0 0 120px;
			}
		}
		/* Column specific */
		.column-text {
			padding: emCalc(60px) emCalc(30px);
			img {
				margin-bottom: emCalc(60px);
			}
		}
		.column-by-you {
			background: cdn-url('/our-story/03_Made_By_You.jpg') center center no-repeat;
			h2 {
				margin: 88px 0 0 0.5em; /* Slight offset left */
				position: relative;
				left: 50%;
				z-index: 100;
			}
			@media only screen and (max-width: 48em) {
				h2 {
					margin: 485px 0 0;
					left: 0;
				}
			}
		}
		.column-by-the-gang {
			background: cdn-url('/our-story/04_Made_By_The_Gang.jpg') center center no-repeat;
		}
		.column-revolution {
			background: cdn-url('/our-story/06_Revolution.jpg') center center no-repeat;
		}
		.column-revolution-heading {
			h2 {
				margin-top: 111px;
			}
		}
		.column-maker {
			background: cdn-url('/our-story/08_Maker.jpg') center center no-repeat;
		}
		.column-materials {
			background: cdn-url('/our-story/11_Our_Materials.jpg') center center no-repeat;
		}
		.column-founders-heading {
			h2 {
				margin-top: 111px;
			}
		}
		.column-founders-aurelie-jade {
			background: cdn-url('/our-story/12_Meet_The_Founders_AJ.jpg') center center no-repeat;
		}
		.column-founders-elizabeth {
			background: cdn-url('/our-story/13_Meet_The_Founders_ES.jpg') center center no-repeat;
		}
		.column-founders-elizabeth + .columns p {
			strong {
				text-transform: uppercase;
			}
		}
	}
}

/* Yarn */
.yarn {

}

/*Knit Your Selfie*/
.knit-your-selfie {

  text-align: center;

  .row-shipping-and-contact + .container > div.row {
    max-width: none !important;
    background-color: #ffffff;
  }
  .row-shipping-and-contact + .container > div.row > .columns {
    padding: 0;
  }

  .row-hero {
    background: cdn-url('static/doityourselfie-hero.jpg') center 0 no-repeat;
    height: 249px;
    max-height: 249px;
	}

  @media only screen and (max-width: 320px) {
    .row-hero {
      background: cdn-url('static/doityourselfie-mobile-hero.jpg') center 0 no-repeat;
    }
  }

	.row-intro {
		text-align: center;
		h1 {
			font-family: $watg-font;
      font-size: emCalc(60px);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.01em;
      line-height: 0.9em;
      margin-bottom: 20px;
		}
		h2 {
			margin: emCalc(30px) 0;
			font-family: $watg-font-secondary-light;
			font-size: emCalc(20px);
			font-weight: normal;
			line-height: 1.25em;
			strong {
				font-family: $watg-font-secondary;
				font-weight: normal;
        font-size: emCalc(18px);
			}
		}
		h3 {
			font-family: $watg-font-secondary-light;
      font-size: emCalc(15px);
      margin-top: 40px;
		}
	}

  @media only screen and (max-width: 320px) {
    h1 {
      font-size: emCalc(40px) !important;
    }
  }


	.row.row-olapic-gallery {
		margin-top: 0;
	}

	.social {
		padding: 0;
		font-size: 0.6em;
		position: relative;
		top: emCalc(-5px);
	}
}

/*knit your selfie terms*/
.knit-your-selfie-terms {

  .row-shipping-and-contact + .container > div.row {
    max-width: none !important;
    background-color: #ffffff;
  }
  .row-shipping-and-contact + .container > div.row > .columns {
    padding: 0;
  }

  .row-hero {
    background: cdn-url('static/doityourselfie-hero.jpg') center 0 no-repeat;
    height: 249px;
    max-height: 249px;
  }

  h1 {
  	text-align: center;
  }

  .inner-list {
    list-style-type: none;
  }
}

/* Knit party cont...*/
.knit-party {
	.wrapper-knit-party {
		.row-halves {
			overflow: hidden;
			.columns {
				height: 600px;
				@media only screen and (max-width: 520px) {
					height: inherit;
				}
			}
		}
		/* Row specific */
		.row-map {
			background: cdn-url('/party/KnitParty_Hero_DESKTOP.jpg') center 0 no-repeat;
			h1 {
				margin-top: emCalc(85px);
				/*padding-top: emCalc(30px);*/
			}
			@media only screen and (max-width: 520px) {
				background: cdn-url('/party/KnitParty_Hero_MOBILE.jpg') center center no-repeat;
				h1 {
					margin: emCalc(37px) 0 emCalc(37px) 0;
				}
			}
		}
		.description {
			padding: 0;
			margin: 0;
			.smaller {
				font-size: 0.9em;
			}
			h3 {
				padding: 0;
				margin: 0;
			}
			@media only screen and (max-width: 520px) {
				padding: 0 0 20px 0;
				margin: 0;
			}
		}
		.button {
			text-decoration: none;
			margin: emCalc(20px);
		}
		.column-why-host {
			background: cdn-url('/party/Why_Host_2_DESKTOP.jpg') center center no-repeat;
			@media only screen and (max-width: 520px) {
				background: cdn-url('/party/Why_Host_2_MOBILE.jpg') center center no-repeat;
			}
		}
		.column-free-goodies {
			background: cdn-url('/party/snood-desktop.jpg') center center no-repeat;
			@media only screen and (max-width: 520px) {
				background: cdn-url('/party/snood-mobile.jpg') center center no-repeat;

			}
		}
		.column-how-it-works {
			background: cdn-url('/party/Why_Host_DESKTOP.jpg') center center no-repeat;
			@media only screen and (max-width: 520px) {
				background: cdn-url('/party/Why_Host_MOBILE.jpg') center center no-repeat;
			}
		}
		.column-sum {
			.illustration {
				margin-top: 70px;
			}
			p {
				font-family: $watg-font;
				text-transform: uppercase;
				line-height: 1em;
				float: left;
				width: 35%;
				margin-left: 10%;
			}
			p:last-child {
				float: right;
				margin-left: 0;
				margin-right: 10%;
			}
			@media only screen and (max-width: 520px) {
				p {
					padding-bottom: emCalc(40px);
				}
			}
		}
		.column-party-info {
			background-color: #f9f9f9;
			padding: emCalc(40px) 0 emCalc(60px) 0;
			font-size: emCalc(20px);
			span {
				font-size: emCalc(10px);
			}
			@media only screen and (max-width: 520px) {
				p {
					padding: emCalc(40px) emCalc(20px) emCalc(40px);
				}
			}
		}
		.info-first {
			padding: emCalc(85px);
			@media only screen and (max-width: 520px) {
				padding: emCalc(40px) emCalc(10px) emCalc(40px);
			}
		}
		.heading {
			h2 {
				padding-top:80px;
				@media only screen and (max-width: 520px) {
					padding: emCalc(30px);
					line-height: 1.1em;
				}
				@media only screen and (max-width: 320px) {
					padding: emCalc(10px);
				}
			}
		}
		.row-cta {
			@media only screen and (max-width: 48em) {
				h2 {
					margin: 30px 0 0 0 !important;
					float: none;
				}
			}
		}
		.submit-button {
			text-align: center;
		}
	}
	form {
		text-transform: uppercase;
		.dropdown
		 {
			padding-bottom: 27px !important;
		}
	}
	/*mail chimp form hackage*/
	#mc_embed_signup #mce-success-response {
		color: #5b06aa !important;
		text-align: center !important;
	}

	#mc_embed_signup .button {
		background-color: #242021;
	}

	#mc_embed_signup .button:hover {
		background-color: #242021;
	}
}

.whistles-landing {
	.row-shipping-and-contact, footer {
		display: none;
	}
	/* Allow full widths */
	.row-shipping-and-contact + .container > div.row {
		max-width: none !important;
	}
	.row-shipping-and-contact + .container > div.row > .columns {
		padding: 0;
	}
	.wrapper-whistles-landing div.row {
		margin: 0 auto;
		position: relative;
		max-width: 62.5em;
	}
	/* Show/hide content for desktop/mobile */
	.only-mobile {
		display: none
	}
	@media only screen and (max-width: 28.75em) {
		.only-desktop {
			display: none;
		}
		.only-mobile {
			display: initial;
		}
	}
	@media only screen and (min-width: 48em) and (max-width: 72em) {
		.only-tablet {
			display: initial;
		}
	}
	.wrapper-whistles-landing {
		font-size: emCalc(20px);
		text-align: center;
		.row-padded {
			padding-top: 60px; 
		}
		.row-padded-bottom {
			padding-bottom: 60px; 			
		}
		.medium-padding {
			padding-top: 30px;
		}
		.large-padding {
			padding: 65px 0;
		}
		h1, h2, h3, h4, h5 {
			margin-top: 0;
		}
		h1 {
			margin-bottom: 0;
			font-size: emCalc(80px);
			letter-spacing: 0.1em;
			line-height: 0.9em;
		}
		h2 {
			font-size: emCalc(48px);
			color: #fff;
		}
		h3 {
			font-size: emCalc(48px);
			margin: 0;
		}
		h4 {
			font-family: $watg-font-secondary-light;
			font-size: emCalc(24px);
			padding: 0;
			margin: 0;
		}
		h5 {
			font-family: $watg-font-secondary-light;
			font-size: emCalc(16px);
			strong {
				font-weight: normal;
				font-family: $watg-font-secondary;
			}
		}
		h6 {
			font-size: emCalc(24px);
			color: #fff;
		}
		.desktop-name {
			z-index: 1;
			margin-top: emCalc(-40px);
		}
		.product {
			z-index: 0;
		}
		.row-product {
			padding-bottom: 60px;
		}
		.inverted {
			color: initial;
		}	
		.full-grey {
			background-color: #f9f9f9;
			/*padding-bottom: emCalc(8px);*/
		}
		.full-black {
			background-color: #000;
			h2 {
				margin-bottom: 0;
			}
		}
		.social-icon-desktop {
			width: emCalc(16px);
		}
		.videoWrapper {
			position: relative;
			padding-bottom: 54%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.row-olapic {
			background-color: #f9f9f9;
		}

		/*mobile view*/
		@media only screen and (max-width: 48em) {
			h1, h2, h3 {
				font-size: emCalc(24px);
			}
			h4, h5 {
				font-size: emCalc(16px);
			}
			h5 {
				line-height: normal;
			}
			h6 {
				font-size: emCalc(10px);
				margin: 15px 0 0 0;
				color: initial;
			}
			.row-padded, .social-mobile {
				padding-top: 30px; 
			}		
			.row-padded-bottom {
				padding-bottom: 30px; 			
			}
			.medium-padding {
				padding-top: 30px;
			}
			.large-padding {
				padding: 30px 0;
			}
			.social-mobile {
					margin: 30px 0 0 0;
					padding: 30px 0;
					background-color: #f9f9f9;
					width: 100%;
			}
			.heart-mobile {
				width: emCalc(12px);
				padding-bottom: emCalc(4px);
			}
		}
	}
}

.stockists {
	.wrapper-stockists {
		margin-bottom: emCalc(60px);
		.row {
			padding: emCalc(30px) 0;
		}
		h1 {
			padding-top: 30px;
			margin: 0;
			text-align: center;
			font-size: emCalc(80px);
			text-transform: uppercase;
		}
		h2 {
			font-family: $watg-font-secondary;
			font-size: emCalc(30px);
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}
		h3 {
			font-size: emCalc(30px);
  		text-transform: uppercase;
      margin: emCalc(8px) 0;
		}
		h4 {
			font-family: $watg-font-secondary;
			text-transform: uppercase;
      text-align: center;
      font-family: emCalc(30px);
      margin: 0;
		}
		#map_wrapper {
    	height: 400px;
    	margin-bottom: emCalc(30px); 
	  }

	  #map_canvas {
	    width: 100%;
	    height: 100%;
	  }
		.row-continent {
      padding: emCalc(15px) 0;
      border-top: solid 1px #b8b8b8;
      .continent-title {
        margin: 0;
        padding: emCalc(10px) 0;
        display: inline;
      }
      .purple {
        color: #5b06aa;
      }
      .more {
      	display: inline;
				float: right;
				font-size: 31px;
				margin: 0;
				font-family: $watg-font-secondary-light;
      }
    }

		.stock-type {
      padding: emCalc(15px) emCalc(5px);
      h5 {
        margin: 0;
        padding-left: 40px;
        background-position: 0 -41px;
        background-repeat: no-repeat;
      }
      .ready-to-wear {
        background-image: image-url('product-group/icon-ready-made.png');
      }
      .knit-kits {
        background-image: image-url('product-group/icon-knit-your-own.png');
      }
    }

		.stockist-lists {
      background-color: #f7f7f7;
      border-bottom: solid 1px #b8b8b8;
      border-top: solid 1px #b8b8b8;
      padding: 0 0 0 emCalc(5px);
      ul {
        list-style: none;
        li {
          padding: emCalc(10px) 0;
          span {
            font-weight: bold;
          }
        }
      }
    }
  	@media only screen and (max-width: 48em) {
  		.row {
  			padding: emCalc(15px);
  		}
  		h1 {
  			font-size: emCalc(60px);
  		}
  		h2 {
  			font-size: emCalc(20px);
  		}
  		.country, .row-stock-type, .stockist-lists {
  			margin: 0 emCalc(10px);
  		}
  		.country {
  			padding: 0 0 emCalc(10px) 0;
  		}
  		.stock-type {
  			border-bottom: 0;
  		}
  		.stockist-lists {
  			border-top: solid 1px #b8b8b8;
  		}
  	}
  }
}