@charset "UTF-8";
/**
 * WATG
 *
 * Product index page CSS file
 *
 * @colordef
 */

/**
 * Table of contents
 *
 * Pagewide
 * Hero
 * Products
 */

/**
 * Pagewide
 *
 * @section pagewide
 */

.suites-index {
	/* Allow full widths */
	.row-shipping-and-contact + .container > div.row {
		max-width: none !important;
	}
	.row-shipping-and-contact + .container > div.row > .columns {
		padding: 0;
	}
	.wrapper-product-index div.row {
		margin: 0 auto;
		position: relative;
		max-width: 62.5em;
	}
	a {
		outline: 0;
	}
}

/**
 * Hero
 *
 * @section hero
 */

.suites-index {
	.row-hero {
		margin-bottom: emCalc(30px); // Remove if menu reinstated
		padding: emCalc(60px) 0;
		text-align: center;
		background-color: #000;
		h1 {
			margin: 0;
			font-size: emCalc(80px);
			line-height: 0.9em;
			letter-spacing: 2px;
			color: #fff;
		}
	}
	// Mobile .row-hero
	@media only screen and (max-width: 28.750em) {
		.row-hero {
			padding: emCalc(30px) 0;
			h1 {
				font-size: emCalc(40px);
				line-height: 0.95em;
			}
		}
	}
}

/**
 * Products
 *
 * @section products
 */

.suites-index {
	.row-products {
		.loading-text {
			padding: emCalc(60px) 0;
			font-family: $watg-font-secondary;
			font-size: emCalc(20px);
			text-transform: uppercase;
			text-align: center;
		}
		.loading-image {
			margin: 0 auto 40px;
			width: 60px !important;
			height: 60px;
			display: block;
		}
		.pagination {
			margin-bottom: 30px;
		}
		.row-menu {
			margin-bottom: emCalc(30px) !important;
			border-bottom: 1px dotted #333;
			/* Variant menus start */
			.menu-variants {
				margin: emCalc(10px) auto;
				font-family: $watg-font;
				font-size: 1em;
				text-transform: uppercase;
				position: relative;
				width: 75%;
				> li > a {
					padding: emCalc(10px) 0;
					display: block;
					background: image-url('product-group/arrow-down.png') right center no-repeat;
				}
				ul {
					margin-left: 0;
					position: absolute;
					z-index: 1;
					width: 100%;
					display: none;
					background-color: #fff;
					> li > a {
						padding: emCalc(10px);
						display: block;
						width: 100%;
					}
				}
			}
			// Mobile .menu-variants
			@media only screen and (max-width: 28.750em) {
				.menu-variants {
					width: 100%;
				}
			}
			/* Variant menus end */
			.push-3 {
				left: 24%;
				.menu-variants {
					margin-right: -0.9375em;
				}
			}
			.pull-3 {
				right: 24%;
				.menu-variants {
					margin-left: -0.9375em;
				}
			}
			// Mobile .push-3/.pull-3
			@media only screen and (max-width: 28.750em) {
				.push-3 {
					left: 0%;
					.menu-variants {
						margin-right: 0;
					}
				}
				.pull-3 {
					right: 0%;
					.menu-variants {
						margin-left: 0;
					}
				}
			}
			// Tablet (portrait)
			@media only screen and (max-width: 768px) {
				.small-6 {
					width: 50%;
				}
			}
		}
		.row-product {
			.columns {
				margin-bottom: emCalc(40px) !important;
				position: relative;
			}
			.columns:last-child {
				float: left;
			}
			h2 {
				margin: 0;
				position: absolute;
				/* Size */
				&.large {
					font-size: emCalc(70px);
					line-height: 0.9em;
					word-spacing: 999px; // Forces all words onto a new line
				}
				&.small {
					padding: 0 emCalc(20px);
					margin-left: -0.46875em;
					font-size: emCalc(26px);
					text-align: center;
					width: 100%;
				}
				// Mobile .large
				@media only screen and (max-width: 28.750em) {
					&.large {
						font-size: emCalc(50px);
						line-height: 0.95em;
					}
				}
				/* Position */
				&.top {
					margin: 20px 0 0 20px;
					top: 0;
				}
				&.middle {
					margin: -38px 0 0 20px;
					top: 50%;
				}
				&.bottom {
					margin-bottom: 20px;
					bottom: 0;
				}
				/* Colour */
				&.inverted {
					color: #fff;
				}
			}
			/* Large H2 */
			.large-8 {
				h2 {
					&.large {
						font-size: emCalc(140px);
						line-height: 0.9em;
					}
				}
			}
			// Mobile large h2
			@media only screen and (max-width: 28.750em) {
				.large-8 {
					h2 {
						&.large {
							font-size: emCalc(50px);
							line-height: 0.95em;
						}
					}
				}
			}

			img {
				width: 100%;
			}
			ul {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: #fff; /* IE */
				background-color: rgba(255, 255, 255, 0.7);
				li {
					height: 50%;
					position: relative;
					a {
						margin: 0 0 0 -50%;
						padding: emCalc(10px) 0 25%;
						width: 100%;
						display: block;
						position: absolute;
						left: 50%;
						text-align: center;
						font-family: $watg-font;
						font-weight: normal;
						font-size: emCalc(26px);
						line-height: 1.125em;
						text-transform: uppercase;
						z-index: 1;
						span {
							font-family: $watg-font-light;
							display: block;
							text-transform: lowercase;
						}
					}
					// a:before {
					// 	content: "";
					// 	background: rgba(0, 0, 0, 1);
					// 	position: absolute;
					// 	top: 0;
					// 	left: 25%;
					// 	height: 1px;
					// 	width: 50%;
					// }
				}
				li:first-child {
					a {
						padding: 25% 0 emCalc(10px);
						bottom: 0;
						border: 0;
					}
					a:before {
						background: transparent;
					}
				}
				li.item-unavailable {
					margin-top: 24%;
					font-family: $watg-font-light;
					font-weight: normal;
					font-size: emCalc(22px);
					line-height: 1.125em;
					text-transform: uppercase;
					text-align: center;
					a {
						margin: 20px 0 20px -25px;
						width: 50px;
						height: 33px;
						background: image-url('product-group/icon-mail.png') 0 0 no-repeat;
						font-size: 0;
						line-height: 0;
						position: relative;
					}
				}
			}
			@media only screen and (max-width: 28.750em) {
				.columns {
					margin-bottom: emCalc(30px) !important;
					min-height: 250px;
				}
				h2 {
					display: none;
				}
				ul {
					display: initial;
					position: initial;
					li {
						padding: emCalc(10px) 0 0;
						height: auto;
						a {
							margin: 0;
							padding: 0;
							position: initial;
							font-size: emCalc(14px);
							span {
								display: inline;
							}
							span:before {
								content: " ";
							}
						}
						a:hover {
							text-decoration: none;
						}
					}
					li.item-unavailable {
						margin: 0;
						font-size: emCalc(14px);
						font-family: $watg-font;
						a {
							font-family: $watg-font-light;
							margin: 0;
							width: auto;
							height: auto;
							background: none;
							font-size: inherit;
							line-height: inherit;
							position: initial;
							icon {
								font-size: emCalc(16px);
							}
						}
					}
				}
			}
			.large-4 {
				overflow: hidden;
				img { // Ensure erroneous image sizes don't explode the grid...
					width: 303px;
					height: 387px;
				}
			}
			.large-8 {
				overflow: hidden;
				img { // Ensure erroneous image sizes don't explode the grid...
					width: 636px;
					height: 813px;
				}
				ul {
					li {
						a {
							padding: emCalc(10px) 0 45%;
						}
					}
					li:first-child {
						a {
							padding: 45% 0 emCalc(10px);
						}
					}
				}
			}
			// Mobile .large-4, .large-8
			@media only screen and (max-width: 28.750em) {
				.large-4, .large-8 {
					img {
						width: auto;
						height: auto;
					}
					ul {
						li {
							a {
								padding: 0;
							}
						}
						li:first-child {
							a {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}
