/** VIDEOS **/

.video { 
   border-bottom: solid 1px #cee1f4;
   margin-bottom: 8px !important;
}

.video .title { 
  padding-left: 22px;
}

.video h3{ 
  font-size :12px;
  font-weight: normal;
  text-decoration: underline;
}