<%= f.field_container :name do %>
  <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
  <%= f.text_field :name, :class => 'fullwidth title' %>
  <%= f.error_message_on :name %>
<% end %>

<div class="clear"></div>

