<script type='text/template' id='item_autocomplete_template'>
  <div class='variant-autocomplete-item'>
    <figure class='variant-image'>
      {{#if item.image_url }}
        <img src='{{item.image_url}}' />
      {{ else }}
        <img src='<%= image_path(cdn_url("noimage/mini.png")) %>' />
      {{/if}}
    </figure>

    <div class='variant-details'>
      <h6 class="variant-name">{{item.name}}</h6>
    </div>
  </div>
</script>