<li><a href="/shop/knitwear/knitting/men/hats">Hats</a></li>
<li><a href="/shop/knitwear/knitting/men/scarves-and-snoods">Scarves &amp; Snoods</a></li>
<li><a href="/shop/knitwear/knitting/men/accessories">Accessories</a></li>