<li><a href="/shop/knitwear/knitting/women">Women's Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/men">Men's Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/kids">Kids' Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/beginner-knit-kits">Beginner Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/easy-knit-kits">Easy Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/intermediate-knit-kits">Intermediate Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/advanced-knit-kits">Advanced Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/cotton">Cotton Knit Kits</a></li>
<li><a href="/shop/knitwear/knitting/wool-and-cotton">Yarn</a></li>
<li><a href="/shop/items/patterns/made-by-the-gang">Knitting Patterns</a></li>
<li><a href="/shop/knitwear/knitting/needles">Needles &amp; Supplies</a></li>
<li><a href="/shop/items/gift-cards">Gift Cards</a></li>