<li><a href="/shop/knitwear/knitting/women/bags">Bags</a></li>
<li><a href="/shop/knitwear/knitting/women/accessories">Accessories</a></li>
<li><a href="/shop/knitwear/knitting/women/tops-and-t-shirts">Tops &amp; T-Shirts</a></li>
<li><a href="/shop/knitwear/knitting/women/dresses-skirts-and-shorts">Dresses, Skirts &amp; Shorts</a></li>
<li><a href="/shop/knitwear/knitting/women/scarves-and-snoods">Wraps &amp; Scarves</a></li>
<li><a href="/shop/knitwear/knitting/women/vests">Vests</a></li>
<li><a href="/shop/knitwear/knitting/women/sweaters">Sweaters</a></li>
<li><a href="/shop/knitwear/knitting/women/capes-and-jackets">Capes &amp; Jackets</a></li>
<li><a href="/shop/knitwear/knitting/women/hats">Hats</a></li>