<li><a href="/shop/knitwear/women/bags">Bags</a></li>
<li><a href="/shop/knitwear/women/accessories">Accessories</a></li>
<li><a href="/shop/knitwear/women/tops-and-t-shirts">Tops &amp; T-Shirts</a></li>
<li><a href="/shop/knitwear/women/dresses-skirts-and-shorts">Dresses, Skirts &amp; Shorts</a></li>
<li><a href="/shop/knitwear/women/scarves-and-snoods">Wraps &amp; Scarves</a></li>
<li><a href="/shop/knitwear/women/vests">Vests</a></li>
<li><a href="/shop/knitwear/women/sweaters-and-jumpers">Sweaters &amp; Jumpers</a></li>
<li><a href="/shop/knitwear/women/capes-and-jackets">Capes &amp; Jackets</a></li>
<li><a href="/shop/knitwear/women/hats">Hats</a></li>
<li><a href="/shop/items/gift-cards">Gift Cards</a></li>