<% content_for :title do %>Kids' Knit Kits<% end %>
<% content_for :meta do %>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
<% end %>

<% @body_class = 'product-top knitting-kids' %>

<div class="row-groups">
	<ul class="no-bullet">
		<%= render 'knitting_kids' %>
	</ul>
</div>