<% content_for :title do %>Knitting<% end %>
<% content_for :meta do %>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
<% end %>

<% @body_class = 'product-top knitting' %>

<div class="row-groups">
	<ul class="no-bullet">
		<%= render 'knitting' %>
	</ul>
</div>