<% content_for :title do %>Collections<% end %>
<% content_for :meta do %>
	<meta content="" name="keywords" />
	<meta content="" name="description" />
<% end %>

<% @body_class = 'product-top collections no-sitewide-promo' %>

<div class="row-groups">
	<ul class="no-bullet">
		<%= render 'collections' %>
	</ul>
</div>
