<a class="link-modal-patterns hide" href="#modal-patterns" name="modal-patterns" rel="modal">Close</a>

<h3>Christmas is in the air&hellip;</h3>
<h4>Sign up to our newsletter to download a booklet of <strong>free Christmas patterns</strong></h4>

<p><a class="button no-close" href="/free-christmas-knitting-patterns">Sign up</a></p>