<a class="link-modal-signup hide" href="#modal-signup" name="modal-signup" rel="modal">Sign up to our mailing list!</a>

<h3>Get 10% off!</h3>
<!-- <h3>Hello there!</h3> default message-->
<h4>Just sign up for our newsletter</h4>

<form action="/subscribe_to_list" method="post">
  <fieldset>
    <input name="signupEmail" id="signupEmail" type="email" placeholder="Your email address" />
    <button type="submit">Sign up</button>
    <input type="hidden" name="list_name" value="Wool and the Gang" />
    <input type="hidden" name="source" value="10% DISCOUNT CAMPAIGN - POP UP OVERLAY" />
  </fieldset>
</form>