<h3>Free Tote Bag!</h3>

<h4>On every order, no minimum spend</h4>

<%= cdn_image_tag("homepage/2015-04-23/modal-tote.jpg", width: "300", height: "300", alt: "Free tote bag!") %>

<p>Carry your stash and every day essentials in this canvas WATG tote bag.</p>

<p>Get it completely <strong>FREE</strong> with every order placed before midnight*, Sunday 26th Big Ben time!</p>

<p><small>*Excludes pattern only orders, sorry Gang</small></p>