<a class="link-modal-xmas hide" href="#modal-xmas" name="modal-xmas" rel="modal">Close</a>

<img src="https://s3-eu-west-1.amazonaws.com/assetswoolandthegangcom/sitewide/heading-modal-xmas.png" alt="Don't miss Santa's sleigh!" />
<%#= cdn_image_tag("/sitewide/heading-modal-xmas.png", alt: "Don't miss Santa's sleigh!") %>
<h4>Get your present in time <br class="only-desktop" />for Christmas</h4>

<ul class="list-dates no-bullet">
	<li>UK: <strong>Noon 19/12/2014</strong></li>
	<li>Europe: <strong>Noon 16/12/2014</strong></li>
	<li>Rest of the World: <strong>Noon 16/12/2014</strong></li>
</ul>

<ul class="list-links no-bullet">
	<li><a href="/shop/knitwear/women">Women</a></li>
	<li><a href="/shop/knitwear/men">Men</a></li>
	<li><a href="/shop/knitwear/kids">Kids</a></li>
	<li><a href="/shop/knitwear/knitting/wool-and-cotton">Yarn</a></li>
	<li><a href="/shop/items/gift-cards">Gift card</a></li>
</ul>