<% date = Date.today + 3.days %>
<a class="link-modal-signup hide" href="#modal-signup" data-rel="modal">Sign up to our mailing list!</a>

<h3>Hello!</h3>
<h4>Sign up to our newsletter to <strong>get 10% off</strong>
Hurry, offer ends in <strong>3 days!</strong></h4>

<form action="/subscribe_to_list" method="post">
  <fieldset>
    <input name="signupEmail" id="signupEmail" type="email" placeholder="Your email address" />
    <!-- on click of ga tracking -->
    <button type="submit"
      onClick="if (typeof ga !== 'undefined') {
        ga('send', 'event', {
          eventCategory: 'newsletter_sign_up',
          eventAction: 'newsletter_sign_up',
          eventLabel: 'newsletter_sign_up'
        });
      };">Sign up</button>

    <input type="hidden" name="list_name" value="Wool and the Gang" />
    <input type="hidden" name="source" value="10% DISCOUNT CAMPAIGN - POP UP OVERLAY" />
  </fieldset>
</form>

<p><small class="disclaimer">Available only until midnight <%= date.day.ordinalize %> <%= date.strftime('%B') %></small></p>
