<nav id="top-nav-bar">
	<ul id="nav-bar" data-hook>
		<li class="worldwide">We ship worldwide</li>
		<li id="search-bar" data-hook>
			<%= render :partial => 'spree/shared/search' %>
		</li>
	</ul>
</nav>