<nav id="top-nav-bar">
	<ul id="nav-bar" data-hook>
  <% unless mobile_device? %>
      <i class="icon-plane"></i>
  		<li class="worldwide">We ship worldwide</li>
      <i class="icon-phone"></i>
  		<li class="telephone">UK +44 (0) 207 241 6420</li>
  <% end %>
		<li id="search-bar" data-hook>
			<%# render :partial => 'spree/shared/search' %>
		</li>
	</ul>
</nav>