<%= form_tag spree.search_path, :method => :get do %>
  <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search) %>
  <%= submit_tag Spree.t(:search), :name => nil %>
<% end %>

<nav id="top-nav-bar">
	<ul id="nav-bar" data-hook>
  <% unless mobile_device? %>
      <i class="fa fa-plane"></i>
  		<li class="worldwide">We ship worldwide</li>
      <i class="fa fa-phone"></i>
  		<li class="telephone">UK +44 (0) 207 241 6420</li>
  <% end %>
  <li id="search-bar" data-hook></li>
	</ul>
</nav>
