<!-- The modal for shipping can be found in the footer -->
<div class="row-shipping-and-contact">
	<div class="row">
		<div class="large-6 small-6 columns">
			<p><strong>Free shipping</strong> on orders over $175 <a rel="modal" name="modal-shipping" href="#modal-shipping">find out more</a></p>
		</div>
		<div class="large-6 small-6 columns">
			<p><strong>We're happy if you're happy</strong> <a href="/contact-us">contact us</a> if you need our help</p>
		</div>
		<!-- Just the 'happy' message -->
		<!--<div class="large-12 columns">
			<p><strong>We're happy if you're happy</strong> <a href="/contact-us">contact us</a> if you need our help</p>
		</div>-->
	</div>
</div>