<div class="row-shipping-and-contact">
	<div class="row">
		<div class="large-6 columns">
			<p><strong>Free shipping</strong> on orders over $ XXX <a href="#">find out more</a></p>
		</div>
		<div class="large-6 columns">
			<p><strong>We're happy if you're happy</strong> <a href="/contact-us">contact us</a> if you need our help</p>
		</div>
	</div>
</div>