<div id="signupPromo" class="signup-promo">
	<div class="row">
		<div class="small-12 columns">
			<a href="#" class="signup-close" title="Close">Close</a>
			<form action="/subscribe_to_list" method="post" class="signup-form">
			<label for="signupEmail">Find out what the gang's up to<br />with our wooly news.</label>
				<div>
					<input name="signupEmail" id="signupEmail" type="email" placeholder="Enter your email here" />
					<button type="submit" class="inverse">I'm in!</button>
					<input type="hidden" name="list_name" value="Wool and the Gang" />
					<input type="hidden" name="source" value="Website - Header" />
				</div>
			</form>
			<div class="row signup-response">
				<div class="small-12 columns">
					<a href="#" class="signup-close" title="Close">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
