<div id="signupPromo" class="signup-promo">
	<div class="row signup-form">
		<div class="small-12 columns">
			<a href="#" class="signup-close" title="Close">Close</a>
			<form id="signupForm" action="/mc/subscription" method="post">
			<label for="signupEmail">Find out what the gang's up to<br />with our wooly news.</label>
				<div>
					<input name="signupEmail" id="signupEmail" type="email" placeholder="Enter your email here" />
					<button type="submit" class="inverse">Sign up</button>
					<input type="hidden" name="list_name" value="Wool and the Gang sign-up" />
				</div>
			</form>
			<div id="signupResponse" class="row signup-response">
				<div class="small-12 columns">
					<a href="#" class="signup-close" title="Close">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>