<div id="signupPromo" class="signup-promo">
	<div class="row">
		<div class="small-12 columns">
			<a href="#" class="signup-close" title="Close">Close</a>
			<form action="/shop/subscribe" method="post" class="signup-form">
			<label for="signupEmail">Get 15% off your order when you <br/>sign up to our email news.</label>
				<div>
					<input name="signupEmail" id="signupEmail" type="email" placeholder="Enter your email here" />
					<button type="submit" class="inverse">Sign up</button>
					<input type="hidden" name="list_name" value="Wool and the Gang sign-up" />
					<input type="hidden" name="source" value="Website - Header" />
				</div>
			</form>
			<div class="row signup-response">
				<div class="small-12 columns">
					<a href="#" class="signup-close" title="Close">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>