<div id="signupPromo" class="signup-promo">
	<div class="row">
		<div class="small-12 columns">
			<a href="#" class="signup-close" title="Close">Close</a>
			<form action="/shop/subscribe_to_list" method="post" class="signup-form">
			<label for="signupEmail">Love our new Summer Collection?<br />Enter now to win your favourite pieces!</label>			
				<div>	
					<input name="signupEmail" id="signupEmail" type="email" placeholder="Enter your email here" />
					<button type="submit" class="inverse">I'm in!</button>
					<input type="hidden" name="list_name" value="Summer Look Referrer" />
					<input type="hidden" name="source" value="Website - Header" />
				</div>
				<label><small><a href="http://www.woolandthegang.com/competition-summer-look-jun-2014-terms">Terms &amp; Conditions</a></small></label>
			</form>
			<div class="row signup-response">
				<div class="small-12 columns">
					<a href="#" class="signup-close" title="Close">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>