<div id="signupPromo" class="signup-promo">
	<div class="row">
		<div class="small-12 columns">
			<a href="#" class="signup-close" title="Close">Close</a>
			<form action="/shop/subscribe_to_list" method="post" class="signup-form">
				<label for="signupEmail">Want to win $1,500 to spend on Wool and the Gang?<br />Of course you do!</label>
				<div>
					<input name="signupEmail" id="signupEmail" type="email" placeholder="Enter your email here" />
					<button type="submit" class="inverse">Enter now</button>
					<input type="hidden" name="list_name" value="Shopping Spree Referrer" />
					<input type="hidden" name="source" value="Website - Header" />
				</div>
				<label><small><a href="http://www.woolandthegang.com/competition-shopping-spree-apr-2014-terms">Terms &amp; Conditions</a></small></label>
			</form>
			<div class="row signup-response">
				<div class="small-12 columns">
					<a href="#" class="signup-close" title="Close">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
