<script type="text/javascript">
  window.location.href = "<%= root_path %>"
</script>
<br>
<br>
<p>If you are not redirected automatically, follow this <strong><a href='/'>link to the homepage</a></strong></p>
<br>
