<%= Spree.t('order_mailer.survey_email.dear_customer') %>

============================================================
<%= Spree.t('order_mailer.survey_email.first_message') %>
============================================================
<a href="https://www.woolandthegang.com/account"><strong><span style="color:#000000; text-transform:uppercase; font-size:14px; text-decoration:none">My Account</strong></span></a><br/><br/>
============================================================
<%= Spree.t('order_mailer.survey_email.second_message') %>

<%= Spree.t('order_mailer.survey_email.from') %>

