<% content_for :title do %>Video Tutorial: Stocking Stitch<% end %>
<% content_for :meta do %>
<meta name="keywords" content="Video Tutorial, Stocking Stitch" />
<meta name="description" content="What's it like to knit in Stocking Stitch?" />
<% end %>

<% @body_class = 'video-tutorial static-olapic stocking-stitch' %>

<div class="wrapper-video-tutorial">

  <div class="row row-hero">
      <div class="large-12 columns">
        <h1>Stocking Stitch</h1>
        <h2>Easy Level</h2>
        <!-- Video placeholder -->
        <img src="http://placehold.it/910x512" width="970" height="546" alt="" />
      </div>
  </div>

  <div class="row row-description">
    <div class="large-6 columns">
      <h4>What's it like to knit in Stocking Stitch?</h4>
      <p>A basic stitch pattern where you knit all the stitches of one row, then purl all the stitches of the next. These two rows are repeated to make the pattern. The 'right' side of the fabric looks like a series of 'Vs' and the 'wrong' side of the fabric looks like a series of 'waves'.</p>
    </div>
    <div class="large-6 columns">
      <% unless mobile_device? %>
      <h4>Share the love</h4>
      <p>[SOCIAL ICONS]</p>
      <% end %>
      <h4>Was this tutorial helpful?</h4>
      <a class="button" href="#">Give your feedback</a>
    </div>
  </div>

  <div class="row-other-tutorials">
    <div class="row">
      <div class="large-12 columns">
        <h3>Other video tutorials</h3>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <!-- Video placeholder -->
        <img src="http://placehold.it/303x170" width="303" height="170" alt="" />
        <h4><a href="#">Garter Stitch</a></h4>
        <p>Easy level</p>
      </div>
      <div class="large-4 columns">
        <!-- Video placeholder -->
        <img src="http://placehold.it/303x170" width="303" height="170" alt="" />
        <h4><a href="#">Moss Stitch</a></h4>
        <p>Beginner level</p>
      </div>
      <div class="large-4 columns">
        <!-- Video placeholder -->
        <img src="http://placehold.it/303x170" width="303" height="170" alt="" />
        <h4><a href="#">Twisted Rib Stitch</a></h4>
        <p>Intermediate level</p>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <a class="button" href="#">See all video tutorials</a>
      </div>
    </div>
  </div>

  <div class="row row-follow">
      <div class="large-12 columns">
        <h3>We'd <i class="icon-heart"></i> to see <br/>your work Gang!</h3>
        <p>
          Follow <strong>@WATG</strong> on
          <a href="http://twitter.com/woolandthegang" target="_blank"><i class="icon-twitter"></i></a>
          <a href="http://www.facebook.com/pages/Wool-and-the-Gang/45057178937?ref=ts" target="_blank"><i class="icon-facebook"></i></a>
          <a href="http://instagram.com/woolandthegang" target="_blank"><i class="icon-instagram"></i></a>
          and hashtag <br/>your pics using <strong>#shareyourknits</strong>
        </p>
        <% if mobile_device? %>
        <a class="button" href="#">See what the gang's up to</a>
        <% end %>
      </div>
  </div>

  <% unless mobile_device? %>
  <div class="row row-olapic">
    <div class="large-12 columns">
      <div id="olapic_specific_widget"></div>
      <script type="text/javascript" src="http://widgets.photorank.me/render?element_id=olapic_specific_widget&amp;customer_id=216176&amp;widget_config=886168101" async="async"></script>
    </div>
  </div>
  <% end %>

</div><!-- /wrapper -->