<% if image %>
	<a href="<%= image_url(image,:large) %>" target="_blank" class="fancybox" rel="product-gallery">
		<%= image_tag image.attachment.url(:product), :itemprop => "image" %>
	</a>
<% else %>
	<a href="<%= image_url(@product,:large) %>" target="_blank" class="fancybox" rel="product-gallery">
		<%= product_image(@product, :itemprop => "image") %>
	</a>
<% end %>
