<% unless @product_properties.empty? %>  
	<!--<h6 class="product-section-title"><%= Spree.t('properties')%></h6>-->
	<table id="product-properties" data-hook>
		<% @product_properties.each do |product_property| %>
			<tr>
				<th scope="row"><%= product_property.property.presentation %>:</th>
				<td><%= product_property.value %></td>
			</tr>
		<% end %>
	</table>
<% end %>