<nav id="admin-menu" data-hook <%= raw 'style="background-color: #6C2775"' if Rails.env.production? %> >
  <div class="container">
    <div class="sixteen columns main-menu-wrapper">
      <ul data-hook="admin_tabs" class="fullwidth-menu">
        <%= render :partial => 'spree/admin/shared/tabs' %>
      </ul>
    </div>
  </div>
</nav>
