<h3>Get Free Shipping</h3>
<h4>On all orders <strong>over <%= free_shipping_amount %></strong></h4>
<p>If your order amount is <%= free_shipping_amount %> or more, we'll ship for free with standard shipping.
  <a href="/faqs" target="_blank">View full price shipping costs</a>
</p>

<h5>Free shipping on patterns</h5>
<p>Buying patterns? We ship pattern only orders completely free of charge &ndash; no
   minimum spend. You'll also receive a PDF version of your pattern so you can get stichin' with no waiting.
</p>
