<h3>Free Shipping</h3>
<h4>On all orders <strong>over <%= free_shipping_amount %></strong> to the US</h4>
<table>
	<caption>Shipping to the US</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td>3 business days</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td>$15</td>
		</tr>
		<tr>
			<th>Spend over <%= free_shipping_amount %>*</th>
			<td>Free</td>
		</tr>
	</tbody>
</table>
<h5>*The use of multiple promos</h5>
<p>Currently it's only possible to take advantage of one promotion at a time, when you check out our system will automagically apply the promo that gives you the best deal so that you don't miss out.</p>
<h5>Customs charges</h5>
<p>You may incur customs charges on orders over $200, if you are asked to pay customs then simply email <a href="mailto:info@woolandthegang.com">info@woolandthegang.com</a> with your receipt and we'll refund you the charge back.</p>