<h3>Free Shipping</h3>
<h4>On all orders <strong>over <%= free_shipping_amount %></strong> to Canada</h4>
<table>
	<caption>Shipping to Canada</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td>DHL 5 working days of dispatch</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td>$15</td>
		</tr>
		<tr>
			<th>Spend over <%= free_shipping_amount %>*</th>
			<td>Free</td>
		</tr>
	</tbody>
</table>
<h5>*The use of multiple promos</h5>
<p>Currently it's only possible to take advantage of one promotion at a time, when you check out our system will automagically apply the promo that gives you the best deal so that you don't miss out.</p>
<h5>Customs charges</h5>
<p>You may incur Canada Revenue Customs charges on your order, which you'll be responsible for. We're investigating solutions to reduce these charges in the future, please bear with us.</p>