<h3>Free Shipping</h3>
<h4>On all orders to the UK *</h4>
<table>
	<caption>Shipping to the UK</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td>Royal Mail + DHL within 2 working days of dispatch</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td>Free</td>
		</tr>
	</tbody>
</table>
<h5>*The use of multiple promos</h5>
<p>Currently it's only possible to take advantage of one promotion at a time, when you check out our system will automagically apply the promo that gives you the best deal so that you don't miss out.</p>