<%= render partial: 'spree/shared/shipping/free_shipping', 
    locals: { free_shipping_amount: free_shipping_amount, location: 'the US' }  %>

<h5>Customs charges</h5>
<p>You may incur customs charges on orders over $200, if you are asked to pay customs then simply email <a href="mailto:info@woolandthegang.com">info@woolandthegang.com</a> with your receipt and we'll refund you the charge back.</p>
