<h3>Free Shipping</h3>
<h4>On all orders <strong>over <%= free_shipping_amount %></strong> to France</h4>
<table>
	<caption>Shipping to France</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td>2-3 business days</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td>€10</td>
		</tr>
		<tr>
			<th>Spend over <%= free_shipping_amount %>*</th>
			<td>Free</td>
		</tr>
	</tbody>
</table>
<h5>*The use of multiple promos</h5>
<p>Currently it's only possible to take advantage of one promotion at a time, when you check out our system will automagically apply the promo that gives you the best deal so that you don't miss out.</p>