<%= render partial: 'spree/shared/shipping/free_shipping', 
    locals: { free_shipping_amount: free_shipping_amount, location: 'Canada' }  %>

<p>You may incur Canada Revenue Customs charges on your order, which you'll be responsible for. We're investigating solutions to reduce these charges in the future, please bear with us.</p>