<p>The gang endeavours to ship orders out within a 24 hour period from when the order is placed and 72 hours during sale periods. All orders (bar patterns) are sent via a tracked service and a signature is required upon delivery.</p>

<% if current_country_code == 'US' %>
<h6>Customs charges</h6>
<p>For <%= current_country_code %> customers all applicable customs and import duties and fees, taxes and any other charges will be pre-paid by Wool And The Gang.</p>
<% end %>

<h6>Patterns</h6>
<p>Delivery time takes up to 12 business days. All patterns bought individually are sent free of charge via Royal Mail or Air Mail. This is not a signed for or tracked service.</p>

<h6>Payment methods</h6>
<p>The Gang accepts the following methods of payment: Visa, MasterCard, American Express and PayPal payments.</p>

<h6>Returns</h6>
<p>We really hope you love your WATG goodies but if you have any questions or concerns please contact us at <a href="mailto:info@woolandthegang.com">info@woolandthegang.com</a> and we'll do our best to fix it right away.</p>