<h6>Shipping to Europe and the rest of the world</h6>
<table>
	<caption>Shipping to Europe and the rest of the world</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td><strong>EU:</strong> DHL 2-3 working days <strong>ROW:</strong> DHL 5-7 working days</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td><strong>EU:</strong> €8.50 <strong>ROW:</strong> $33</td>
		</tr>
	</tbody>
</table>
<%= render '/spree/product_pages/delivery/delivery_additional' %>