<p>Orders ship within 24 hrs (72 hrs during sale periods). All orders (bar patterns) are sent via a tracked service and a signature is required upon delivery.</p>

<% if current_country_code == 'US' %>
<h6>Customs charges</h6>
<p>For <%= current_country_code %> customers all applicable customs and import duties and fees, taxes and any other charges will be pre-paid by Wool And The Gang.</p>
<% end %>

<% if current_country_code == 'CA' %>
<h6>Customs charges</h6>
<p>You may incur Canada Revenue Customs charges on your order, which you'll be responsible for. We're investigating solutions to reduce these charges in the future, please bear with us.</p>
<% end %>

<h6>Patterns</h6>
<p>Delivery time takes up to 12 business days. All patterns bought individually are sent free of charge via Royal Mail or Air Mail. This is not a signed/tracked service.</p>

<h6>Payment methods</h6>
<p>Visa, MasterCard, American Express and PayPal.</p>

<h6>Returns</h6>
<p>If you have any questions or concerns please contact us at <a href="mailto:info@woolandthegang.com">info@woolandthegang.com</a> and we'll do our best to fix it right away.</p>