<h6>Shipping to Switzerland</h6>
<table>
	<caption>Shipping to Switzerland</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td>DHL within 2 working days of dispatch</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td>€8.50</td>
		</tr>
	</tbody>
</table>

<a href="/faqs#delivery">Full list of shipping destinations</a><br/><br/>

<%= render '/spree/suites/delivery/delivery_additional' %>