<h6>Shipping to the US</h6>
<table>
	<tbody>
		<tr>
			<td>10 business days</td>
			<td>$8</td>
		</tr>
		<tr>
			<td>3-4 business days</td>
			<td>$15</td>
		</tr>
	</tbody>
</table>

<a href="/faqs#delivery">Full list of shipping destinations</a><br/><br/>

<%= render '/spree/suites/delivery/delivery_additional' %>

