<p>
  We ship patterns <span>completely free of charge</span>, using standard shipping.
  We'll also email you a PDF version as soon as you've placed your order, so you can get stitchin' right away.
</p>

<p>
  If your order contains other items as well as patterns, normal shipping charges will be applied to your order.
</p>
