<table>
	<caption>Delivery times around the world</caption>
	<thead>
		<tr>
			<th>Destination</th>
			<th>Time</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>US</td>
			<td>10 business days</td>
			<td>$8</td>
		</tr>
		<tr>
			<td></td>
			<td>3-4 business days</td>
			<td>$15</td>
		</tr>
		<tr>
			<td>UK</td>
			<td>2-3 business days</td>
			<td>£4.99</td>
		</tr>
		<tr>
			<td>Europe</td>
			<td>2-3 business days</td>
			<td>€10 (CH €15)</td>
		</tr>
		<tr>
			<td>Canada / Non-EU</td>
			<td>3 business days</td>
			<td>$15</td>
		</tr>
		<tr>
			<td>Australia</td>
			<td>12-15 business days</td>
			<td>$10</td>
		</tr>
		<tr>
			<td></td>
			<td>4 business days</td>
			<td>$33</td>
		</tr>
		<tr>
			<td>Korea</td>
			<td>5-7 business days</td>
			<td>$30</td>
		</tr>
		<tr>
			<td>Rest of the World</td>
			<td>5-7 business days</td>
			<td>$33</td>
		</tr>
	</tbody>
</table>
<%= render '/spree/suites/delivery/delivery_additional' %>