<table>
	<caption>Delivery times around the world</caption>
	<thead>
		<tr>
			<th>Country</th>
			<th>Time</th>
			<th>Carrier</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UK</td>
			<td>2-3 business days</td>
			<td>Royal Mail or DHL</td>
			<td>£4.99</td>
		</tr>
		<tr>
			<td>Europe</td>
			<td>2-3 business days</td>
			<td>DHL</td>
			<td>€10 (CH €15)</td>
		</tr>
		<tr>
			<td>US/Canada/Non-EU</td>
			<td>3 business days</td>
			<td>FedEx</td>
			<td>$15 (US)</td>
		</tr>
		<tr>
			<td>Rest of the World</td>	
			<td>5-7 business days</td>
			<td>DHL</td>
			<td>$33 (KR $40) (US)</td>
		</tr>
	</tbody>
</table>
<%= render '/spree/suites/delivery/delivery_additional' %>