<h6>Shipping to the South Korea</h6>
<table>
  <tbody>
    <tr>
      <td>5-7 business days</td>
      <td>$30</td>
    </tr>
  </tbody>
</table>

<a href="/faqs#delivery">Full list of shipping destinations</a><br/><br/>

<%= render '/spree/suites/delivery/delivery_additional' %>
