<h6>Shipping to the US</h6>
<% if free_shipping? %>
<p>Free shipping on all orders over <%= free_shipping_amount %>.</p>
<% end %>
<table>
	<caption>Shipping to the US</caption>
	<tbody>
		<tr>
			<th>Delivery time</th>
			<td>DHL 5 working days of dispatch</td>
		</tr>
		<tr>
			<th>Cost</th>
			<td>$15</td>
		</tr>
		<% if free_shipping? %>
		<tr>
			<th>Spend over <%= free_shipping_amount %></th>
			<td>Free</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= render '/spree/suites/delivery/delivery_additional' %>