<h6>Shipping to the UK</h6>
<table>
	<caption>Shipping to the UK</caption>
	<tbody>
		<tr>
			<td>2-3 business days</td>
			<td>£4.99</td>
		</tr>
	</tbody>
</table>

<a href="/faqs#delivery">Full list of shipping destinations</a><br/><br/>

<%= render '/spree/suites/delivery/delivery_additional' %>