<h6>Shipping to Canada</h6>
<table>
	<tbody>
		<tr>
			<td>3 business days</td>
			<td>$15</td>
		</tr>
	</tbody>
</table>

<a href="/faqs#delivery">Full list of shipping destinations</a><br/><br/>

<%= render '/spree/suites/delivery/delivery_additional' %>