<% content_for :page_title do %>
  <%= Spree.t(:reports) %>
<% end %>


<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'fa fa-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <%= render :partial => 'report_criteria', :locals => { name: @name } %>
<% end %>
