<div id="cart-ajax-message"> 
  <div class="flash success">
    <h5><%= Spree.t(:added_to_your_cart) %></h5>
    <span><%= "#{@item.quantity} x #{[@item.variant.name, @item.variant.options_text].compact.join(', ')}"%></span>
    <p><a class="button" href="<%= cart_path %>"<%= Spree.t(:checkout_now) %></a></p>
  </div>
</div>
