<div id="cart-ajax-message">
  <div class="flash success">
    <h5><%= Spree.t(:added_to_your_cart) %></h5>
    <span><%= "#{[@item.variant.name, @item.variant.options_text].compact.join(', ')}"%></span>
  </div>
</div>
