<fieldset id="order_summary" data-hook>  
  <h1><%= accurate_title %></h1>

  <div id="order" data-hook>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

    <br class="clear" />

    <%= render :partial => 'links' %>

  </div>
</fieldset>
