<div class="row">
  <div data-hook="admin_suite_category_form_fields" class="alpha sixteen columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %><br />
      <%= f.text_field :name, :class => 'fullwidth', disabled: false %>
      <%= error_message_on :suite_category, :name %>
    <% end %>
  </div>
</div>
