/* Competitions - using spree-chimpy refer a friend */
.competition {
  .row-shipping-and-contact + .container > div.row {
    max-width: none !important;
  }
  .row-shipping-and-contact + .container > div.row > .columns {
    padding: 0;
  }
  .wrapper-competitions div.row {
    margin: 0 auto;
    position: relative;
    max-width: 62.5em;
  }
  .grey-background {
    background-color: #f7f7f7;
    max-width: 100% !important;
  }

  h1 {
    text-align: center;
    font-size: emCalc(60px);
    padding: 60px 0 15px;
    margin: 0;
  }
  h2 {
    font-family: $watg-font-secondary-light;
    text-align: center;
    font-size: 20px
  }
  h2.header {
    padding-bottom: 30px;
    margin: 0;
    font-size: 30px;
  }
  h2 strong {
    font-family: $watg-font-secondary;
  }
  h4 {
    text-align: center;
  }
  .link {
    text-decoration: underline;
  }
  .descritpion {
    padding: 20px 0 60px;
    h3 {
      font-family: $watg-font-secondary;
      text-transform: none;
      font-size: emCalc(16px);
      text-align: center;
      strong {
        font-family: $watg-font;
        text-transform: uppercase;
      }
    }
  }

  .row-referral {
    margin: -3em 0 3em;
    text-align: center;
    .sign-up-header {
      padding-top: 30px;
    }

    form {
      h3 {
        text-align: left;
        font-family: "Gill Sans W01 Light";
        font-size: 1.25em;
      }
      .error {
        margin: 2.75em 0 -1.75em;
      }
      fieldset:nth-child(0) {
        margin-top: 2em;
      }
      fieldset {
        margin-top: 3em;
        padding: 0;
        background: none;
        border: 0;
        p {
          margin: 0;
        }
      }

      #referrerForm {
        fieldset {
          margin-top: 3em;
          p {
            margin: 0;
          }
          small {
            font-size: 0.75em;
            color: #999;
          }
        }
        input {
          margin-bottom: 0;
        }
      }
      #refereeForm {
        fieldset {
          margin-top: 0;
          margin-bottom: 3em;
        }
        p {
          margin-bottom: 1.25em;
          text-transform: uppercase;
          text-align: right;
          font-size: 0.875em;
          a {
            font-family: "Trade Gothic W01 Bold";
            font-size: 1.125em;
            line-height: 1em;
            text-transform: uppercase;
            text-decoration: underline;
          }
        }
        p:before {
          content: '+ ';
        }
      }
    }
    .wait, p.thanks {
      margin: 2.75em 0 3em;
      font-family: "Gill Sans W01 Light";
      font-size: 1.5em;
      line-height: 1.25em;
      text-align: center;
      text-transform: uppercase;
    }
    p.thanks {
      font-size: 1em;
      a {
        text-decoration: underline;
      }
    }
  }
  .terms {
    h4 {
      font-size: emCalc(15px);
      text-transform: none;
      text-align: center;
      font-family: $watg-font-secondary-light !important;
    }
  }
}

.competition.mobile {
  h1 {
    padding: 30px 0;
    font-size: emCalc(25px);
  }
  h2 {
    padding-top: 10px;
    font-size: emCalc(20px);
  }

}
// T&C pages
.terms-and-conditions {
  .wrapper-competitions {
    h1 {
      text-align: center;
    }
  }
}

/* Free patterns */
.free-patterns {
  .row-shipping-and-contact + .container > div.row {
    max-width: none !important;
  }
  .row-shipping-and-contact + .container > div.row > .columns {
    padding: 0;
  }
  .wrapper-free-patterns {
    text-align: center;
  }
  .wrapper-free-patterns div.row {
    margin: 0 auto;
    position: relative;
    max-width: 62.5em;
  }
  .grey-background {
    background-color: #f7f7f7;
    max-width: 100% !important;
  }

  .row-hero {
    background: cdn-url('static/free-knitting-patterns/free-patterns-banner.jpg') center 0 no-repeat;
    width: 100%;
    h1 {
      color: #5b06aa;
      margin-top: 299px;
      font-family: $watg-font;
      font-size: emCalc(80px);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      line-height: 0.9em;
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 320px) {
      background: cdn-url('static/free-knitting-patterns/free-pattern-mobile-hero.jpg') center 0 no-repeat;

      h1 {
        margin-top: 23px;
        font-size: emCalc(35px);
        color: #000000;
      }
    }
  }

  .row-intro {
    div {
      text-align: center;
      .desktop-intro {
        h2 {
          font-family: $watg-font-secondary-light;
          font-size: emCalc(30px);
        }
        h3 {
          strong {
            font-family: $watg-font-secondary-light;
            font-weight: normal;
          }
        }
      }
      .mobile-intro {
        display: none;
        h3 {
          strong {
            font-family: $watg-font-secondary-light;
            font-weight: normal;
          }
        }
      }
    }
  }

  .logo-images {
    #small-logo {
      display: none
    }
  }

  .logo-images, .pattern-title{
    h3 {
      padding: 40px;
    }
  }

  .owl-carousel {
    h2 {
        font-family: $watg-font-secondary-light;
        font-size: emCalc(20px);
        span, strong {
          font-family: $watg-font-secondary;
          font-weight: normal;
        }
      }
    h3 {
      margin: 0;
      font-size: emCalc(20px);
    }
    .owl-controls {
      height: 0;
      .owl-buttons {
        display: none;
      }
    }
  }
  .row-form {
    margin-top: 60px !important;
    .sign-up-header {
      margin: 50px 0;
      h2 {
        margin: 0;
        span {
          font-size: emCalc(15px);
        }
      }
    }
    #referralForm {
      fieldset {
        margin: 0;
        border: 0;
        padding: 0 0 60px;
        select {
          color: #999;
        }
      }
      .success-message {
        display: none;
      }
    }
    #refereeForm {
      border: 0;
      margin-top: 60px;
    }
    h3 {
      text-align: left;
      font-family: $watg-font-secondary-light;
    }
    .add-a-friend {
      text-transform: uppercase;
      font-family: $watg-font;
      text-decoration: underline;
      text-align: right;
    }
  }

  .row-tsandcs {
    h4 {
      font-size: 11px;
      font-family: $watg-font-secondary-light;
      padding: 20px;
      text-transform: none;
    }
  }
}

// mobile views
.free-patterns.mobile {
  .wrapper-free-patterns {
    .row-hero {
      background: cdn-url('static/free-knitting-patterns/free-pattern-mobile-hero.jpg') center 0 no-repeat;

      h1 {
        margin-top: 23px;
        font-size: emCalc(35px);
        color: #000000;
      }
    }
    h3 {
      font-size: emCalc(18px);
    }
    .logo-images {
      h3 {
        padding: 20px;
      }
      #small-logo {
        display: inline;
      }
      #large-logo {
        display: none;
      }
    }
    .pattern-title {
      h3 {
        padding-bottom: 0;
      }
    }

    .mobile-intro {
      display: inline;
      h2 {
        margin-top: 20px;
        font-family: $watg-font-secondary-light;
        font-size: emCalc(15px);
      }
    }

    .desktop-intro {
      display:none;
    }

    /** Carousel **/
    .row-carousel {
      padding-bottom: 30px;
      overflow: hidden;
      .owl-carousel {
        .owl-item img {
          width: initial !important;
          position: relative;
        }
        .owl-controls .owl-buttons {
          display: initial;
          div {
            position: absolute;
          }
          .owl-prev {
            left: 0;
            top: 75px;
          }
          .owl-next {
            right: 0;
            top: 75px;
          }
        }
      }
    }

    .sign-up-header {
      margin: 30px 0;
      h2 {
        margin: 0;
        span {
          font-size: emCalc(15px);
        }
      }
    }

    .row-form {
      margin-top: 30px !important;
      h3 {
        font-size: emCalc(16px);
      }
    }

    .row-tsandcs {
      h4 {
        font-size: 11px;
      }
    }
  }
}

/*tweaks specific for free christmas patterns*/

.free-christmas-patterns,  {
  /*clear excessive padding from free-patterns to start again*/
  h2, h3 {
    padding: 0 !important;
    margin: 0 !important;
  }

  .wrapper-free-patterns {
    h1 {
      color: #820f3a;
      margin-top: 460px;
      margin-bottom: 60px;
      img {
        height: auto;
        margin-bottom: 5px;
      }
    }
    .row-intro {
      padding-bottom: emCalc(60px);
    }
    .padding-bottom-desktop {
      padding-bottom: emCalc(40px);
    }
    .pattern-title {
      padding-bottom: emCalc(30px);
    }
    .owl-carousel {
      h4 {
        font-size: emCalc(16px);
        text-transform: uppercase;
        font-family: $watg-font-secondary-light;
      }
      h5 {
        font-size: emCalc(16px);
        text-transform: uppercase;
        font-family: $watg-font;
      }
    }
    .sign-up-header {
      padding: emCalc(60px) 0 emCalc(30px);
      margin: 0;
    }
    .row-referral {
      .input-heading {
        padding-bottom: emCalc(15px);
        text-align: left;
      }
    }
    @media only screen and (max-width: 28.75em) {
      h1 {
        margin: 60px 0;
        color: initial;
        img {
          width: 30px;
        }
      }
      .row-intro {
        padding-bottom: emCalc(25px);
      }
      .pattern-title {
        padding-bottom: emCalc(15px);
      }
      .sign-up-header {
        padding: emCalc(30px) 0 emCalc(30px);
        margin: 0;
      }
      .row-referral {
        .input-heading {
          padding-bottom: emCalc(15px);
        }
      }
      .padding-bottom-desktop {
        padding-bottom: 0;
      }
    }
  }
}
